/* Banner area */
.banner {
  h1 {
    font-family: $font-headline;
    font-size: 128px;
    font-size: 12.8rem;
    font-weight: bold;
    line-height: 120px;
    line-height: 12.0rem;
    letter-spacing: 0.93px;
    margin: 0px;
    display: inline-block;
    color: $dark_gray;
    text-align: left;

    @include breakpoint(xl)  {
      font-size: 98px;
      font-size: 9.8rem;
      line-height: 90px;
      line-height: 9.0rem;
    }

    @include breakpoint(lg)  {
      font-size: 98px;
      font-size: 9.8rem;
      line-height: 90px;
      line-height: 9.0rem;
    }

    @include breakpoint(lm)  {
      font-size: 60px;
      font-size: 6.0rem;
      line-height: 60px;
      line-height: 6.0rem;
    }

    @include breakpoint(sm)  {
      font-size: 30px;
      font-size: 3rem;
      line-height: 30px;
      line-height: 3rem;
    }
  }

  p {
    font-family: $font-subheadline;
    font-size: 38px;
    font-size: 3.8rem;
    line-height: 44px;
    line-height: 4.4rem;
    text-transform: uppercase;
    letter-spacing: -0.76px;
    text-align: left;

    @include breakpoint(xl)  {
      font-size: 28px;
      font-size: 2.8rem;
      line-height: 34px;
      line-height: 3.4rem;
    }

    @include breakpoint(lg)  {
      font-size: 28px;
      font-size: 2.8rem;
      line-height: 34px;
      line-height: 3.4rem;
    }

    @include breakpoint(lm)  {
      font-size: 258px;
      font-size: 2.5rem;
      line-height: 30px;
      line-height: 3.0rem;
    }

    @include breakpoint(sm)  {
      font-size: 1.5rem;
      line-height: 2rem;
      text-align: center;
    }
  }
}

.banner-box {
  background: $primary;
  box-shadow: inset 0px 0px 80px 0px rgba(0,0,0,0.10);
  border-radius: 0px 0px $default-radius $default-radius;
}

/* Banner area of home page */
.banner-home {
  @extend .banner-box;
  height: 698px;
  height: 69.8rem;

  @include breakpoint(lm)  {
    height: 498px;
    height: 49.8rem;
  }

  @include breakpoint(sm)  {
    height: 258px;
    height: 25.8rem;
  }
  .banner-home-inner {
    width: 78%;
    height: 698px;
    height: 69.8rem;
    display: table;
    vertical-align: middle;
    margin: 0 auto;

    @include breakpoint(lm)  {
      height: 498px;
      height: 49.8rem;
    }

    @include breakpoint(sm)  {
      height: 258px;
      height: 25.8rem;
    }
  }

  .banner-content {
    text-align: center;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;


      h1 {
        text-align: center;
        border-top: 6px solid $dark_gray;
        padding-top: 64px;
        padding-top: 6.4rem;
        padding-bottom: 10px;
        padding-bottom: 1rem;
        font-size: 105px;
        font-size: 10.5rem;
        width: 100%;
        display: block;

        @include breakpoint(lm)  {
          padding-top: 44px;
          padding-top: 4.4rem;
        }

        @include breakpoint(sm)  {
          padding-top: 34px;
          padding-top: 3.4rem;
        }
      }

      h2 {
        border-bottom: 6px solid $dark_gray;
        font-size: 42px;
        font-size: 4.52rem;
        padding-bottom: 90px;
        padding-bottom:9rem;
        width: 100%;
        display: block;

        @include breakpoint(lm)  {
          padding-bottom: 60px;
          padding-bottom: 6rem;
        }

        @include breakpoint(sm)  {
          padding-bottom: 30px;
          padding-bottom: 3rem;
        }
      }

      div {
        position: relative;
        text-align: center;
        top: 30px;
        width: 100%;

        span {
          font-size: 45px;
          font-size: 4.52rem;
          font-weight: 700;
          line-height: 50px;
          line-height: 5.0rem;
          background: $primary;
          text-transform: uppercase;
          display: inline-block;
          padding: 0px 20px;
          padding: 0rem 2rem;
          font-family: $font-subheadline;
          width: 195px;
        }
      }


  }
}

/* Banner of inner pages */
.banner-inner {
  @extend .banner-box;
  margin-bottom: 30px !important;
  margin-bottom: 3.0rem !important;
  height: 348px;
  height: 34.8rem;
  padding: 50px !important;
  padding: 5.0rem !important;
  display: table;
  box-sizing: border-box;

  @include breakpoint(md)  {
    height: 248px;
    height: 24.8rem;
  }

  @include breakpoint(sm)  {
    padding: 50px 20px !important;
    padding: 5.0rem 2rem !important;
  }

  .banner {
    display: table-cell;
    vertical-align: bottom;
  }

  h1 {
    font-size: 100px;
    font-size: 10rem;
    line-height: 240px;
    line-height: 12rem;

    @include breakpoint(md)  {
      font-size: 35px;
      font-size: 3.5rem;
      line-height: 50px;
      line-height: 5rem;
    }
  }

  h2 {
    margin: 0px;

    @include breakpoint(md)  {
      font-size: 28px;
      font-size: 2.8rem;
    }
  }

  .banner-head {
    float: left;

    @include breakpoint(md)  {
      width:80%;
    }
  }

  span {
    font-size: 130px;
    font-size: 13.0rem;
    float: left;
    margin-right: 23px;
    margin-top: 28px;

    @include breakpoint(md)  {
      font-size: 70px;
      font-size: 7rem;
      margin-top: 14px;
    }
  }
}
