.btn_yellow {
  background: $primary;
  border-radius: $default-radius;
  color: $btns;
  display: inline-block;
  font-size: 13px;
  font-family: $font-subheadline;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 27px;
  padding: 0px 10px;
}
