/* GLobal Components
–––––––––––––––––––––––––––––––––––––––––––––––––– */
img {
  max-width: 100%;
}

.columns {
  background: none;
}

.btn_yellow {
  background: $primary;
  border-radius: $default-radius;
  color: $btns;
  display: inline-block;
  font-size: 13px;
  font-size: 1.3rem;
  font-family: $font-subheadline;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 27px;
  line-height: 2.7rem;
  padding: 0px 10px;
  padding: 0px 1.0rem;
}
