/* Global Components
–––––––––––––––––––––––––––––––––––––––––––––––––– */
img {
  max-width: 100%;
}

.container {
  @include breakpoint(xl)  {
    width: 95%;
  }

  @include breakpoint(lg)  {
    width: 95%;
  }

  @include breakpoint(lm)  {
    width: 95%;
  }

  @include breakpoint(md)  {
    width: 95%;
  }

  @include breakpoint(sm)  {
    width: 95%;
    padding: 0px;
  }

  @include breakpoint(xs)  {
    width: 95%;
  }
}

.columns {
  background: none;
}

h1, h2, h3, h4, h5, h6 {
  @include breakpoint(sm)  {
    margin-bottom: 0px;
    margin-bottom: 0rem;
  }
}

h3, h4 {
  @include breakpoint(sm)  {
    margin-top: 30px;
    margin-top: 3rem;
  }
}

h5 {
  font-weight: normal;
}

.btn_yellow, input[type='submit'].btn_yellow {
  background: $primary;
  border: none;
  border-radius: $default-radius;
  color: $btns;
  display: inline-block;
  font-size: 13px;
  font-size: 1.3rem;
  font-family: $font-subheadline;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 27px;
  line-height: 2.7rem;
  padding: 0px 10px;
  padding: 0px 1.0rem;
}

input[type='submit'].btn_yellow {
  white-space: normal;
  line-height: 14px;
  letter-spacing: normal;
}

.tag {
  background: $accent;
  border-radius: $default-radius;
  color: $btns;
  display: inline-block;
  font-size: 13px;
  font-size: 1.3rem;
  font-family: $font-subheadline;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 27px;
  line-height: 2.7rem;
  padding: 0px 10px;
  padding: 0px 1.0rem;
  position: relative;
  top: -5px;
  top: -.5rem;
  margin-right: 18px;
}

.last-margin {
  margin-bottom: 60px;
  margin-bottom: 6.0rem;
}

.margin-btm {
  margin-bottom: 50px;
  margin-bottom: 5.0rem;
}
