.contact-info {
  address {
    font-style: normal;


    span {
      display: block;
      line-height: 1.43;
    }

    &::before{
       position: absolute;
       content: "\e947";
       font-family: 'icomoon';
       font-size: 25px;
       font-size: 2.5rem;
       left: 0px;
    }
  }

  .contact-tel, .contact-email, address {
    margin-bottom: 20px;
    margin-bottom: 2.0rem;
    display: block;
    position: relative;
    padding-left: 35px;
    padding-left: 3.5rem;
    color: $secondary;
    font-family: $font-subheadline;
    font-size: 20px;
    font-size: 2.0rem;
    text-decoration: none;

    .icon-phone, .icon-envelop {
      margin-right: 10px;
      margin-right: 1.0rem;
      font-size: 25px;
      font-size: 2.5rem;
    }
  }

  .contact-tel {

    &::before{
       position: absolute;
       content: "\e942";
       font-family: 'icomoon';
       font-size: 25px;
       font-size: 2.5rem;
       left: 0px;
    }
  }

  .contact-email {

    &::before{
       position: absolute;
       content: "\e945";
       font-family: 'icomoon';
       font-size: 25px;
       font-size: 2.5rem;
       left: 0px;
    }
  }
}
