/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer .footer-top {
   background:$footer-gray;
   box-shadow: inset rgba(0,0 ,0, 0.2);
   min-height: 375px;
   min-height: 37.5rem;
   color: $background;
   font-size: 15px;
   font-size: 1.5rem;
   line-height: 28px;
   line-height: 2.8rem;
   font-family: $font-subheadline;
   font-weight: 700;
   padding: 72px !important;
   padding: 7.2rem !important;
   border-radius: $default-radius;

   @include breakpoint(xl)  {
     padding: 42px !important;
     padding: 4.2rem !important;
   }

   @include breakpoint(sm)  {
     padding: 42px !important;
     padding: 4.2rem !important;
   }

   .one-half.column {

     @include breakpoint(lg)  {
         width: 100%;
         margin-left: 0px;
       }

       @include breakpoint(lm)  {
           width: 100%;
           margin-left: 0px;
         }
     }

   address {
     font-style: normal;


     .country-name {
       display: block;
     }

     &::before{
        position: absolute;
        content: "\e947";
        font-family: 'icomoon';
        font-size: 25px;
        font-size: 2.5rem;
        left: 0px;
     }
   }

   .footer-tel, .footer-email, address {
     margin-bottom: 20px;
     margin-bottom: 2.0rem;
     display: block;
     position: relative;
     padding-left: 35px;
     padding-left: 3.5rem;

     .icon-phone, .icon-envelop {
       margin-right: 10px;
       margin-right: 1.0rem;
       font-size: 25px;
       font-size: 2.5rem;
     }
   }

   .footer-tel {

     &::before{
        position: absolute;
        content: "\e942";
        font-family: 'icomoon';
        font-size: 25px;
        font-size: 2.5rem;
        left: 0px;
     }
   }

   .footer-email {

     &::before{
        position: absolute;
        content: "\e945";
        font-family: 'icomoon';
        font-size: 25px;
        font-size: 2.5rem;
        left: 0px;
     }
   }

   ul {
     padding: 0px;
     margin: 0px;

     li {
       list-style: none;
       padding: 0px;
       margin: 0px;
     }
   }

   a {
     color: $background;
     text-decoration: none;
   }

   .trusted_logo {
     margin-top: 5px;
     margin-top: 0.5rem;

     @include breakpoint(xl)  {
       text-align: center;
     }

      @include breakpoint(lg)  {
        margin-bottom: 25px;
        margin-bottom: 2.5rem;
      }

      @include breakpoint(lm)  {
        margin-bottom: 25px;
        margin-bottom: 2.5rem;
        text-align: center;
      }

     li{
       display: inline-block;
       margin-right: 40px;
       margin-right: 4.0rem;

       &:last-child  {
         margin-right: 0px;
       }

       @include breakpoint(xl) {
         margin: 0px 20px 5px;
         margin: 0px 2.0rem 0.5rem;
         text-align: center;
    	}

      @include breakpoint(lm)  {
        margin: 0px 20px 5px;
        margin: 0px 2.0rem 0.5rem;
        text-align: center;
      }

       a {
           .logo_abc {
             margin-top: 3px;
           }
           .logo_ups {
             margin-top: 4px;
           }

           .logo_ext {
             position: relative;
             top: -11px;
           }

       }
     }
   }
}

footer .vcard {
  @include breakpoint(sm)  {
    margin-top: 15px;
    margin-top: 1.5rem
  }
}

footer .container {
  .copyright {
    font-size: 15px;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0px;
    margin: 1.0rem 0rem;
  }
}
