/* Form Elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */

input[type='text'], textarea {
  background: $background;
  border: $line-thin solid $light-gray;
  border-radius: $default-radius;

  &.phone-input {
    width: 100%;
  }

  &.name-input {
    float: left;
    width: 70%;

    @include breakpoint(xl)  {
      width: 100%;
    }

    @include breakpoint(lg)  {
      width: 100%;
    }

    @include breakpoint(sm)  {
      width: 100%;
    }
  }
}

input.btn_yellow[type="submit"] {
  float: right;
  width: 28%;
  padding: 0px;

  @include breakpoint(xl)  {
    width: 40%;
  }

  @include breakpoint(lg)  {
    width: 50%;
  }

  @include breakpoint(sm)  {
    width: 100%;
  }
}
