.nav-container {
  margin-top: 35px;
  background: $dark_gray;
  height: 91px;
  border-radius: 3px 3px 0px 0px;

  .columns {
    background: transparent;
  }
}

.logo {
  margin-top: 23px;
  margin-left: 36px;
  display: inline-block;

  img{
    height: 47px;
    width: 185px;
  }
}
