/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*
Fix for typekit Flash of Unstyled Text (or FOUT)
http://help.typekit.com/customer/portal/articles/6852-Controlling-the-Flash-of-Unstyled-Text-or-FOUT-using-Font-Events
*/
.wf-loading {
  visibility: hidden;
}
.wf-active {
  visibility: visible;
}

/* Generic Classes */
.indent {
  margin: 0px 56px;
  margin: 0rem 5.6rem;
}

.footnote {
  font-size: 18px;
  font-size: 1.8rem
}

article {
  margin: 0px 50px;
  margin: 0rem 5.0rem;

  @include breakpoint(lm)  {
    margin: 0px;
    margin: 0rem;
  }
}

hr {
  margin-top: 6rem;
  margin-bottom: 6rem;
  border-width: 0;
  border-top: $line-thin solid $light-gray;
}

.content-block {
  min-height: 560px;
  min-height: 56.0rem;

  @include breakpoint(lm)  {
    width: 100% !important;
    margin-left: 0px !important;
  }

  .indent {
    @include breakpoint(md)  {
      margin: 0px 16px !important;
      margin: 0rem 1.6rem !important;
    }

    @include breakpoint(sm)  {
      margin: 0px !important;
    }
  }
}

/* Services blocks on home page */
.service-block {
  @extend .bordered-box;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 45px 55px;
  padding: 4.5rem 5.5rem;
  min-height: 550px;
  min-height: 55.0rem;

  @include breakpoint(xl)  {
    padding: 15px 25px;
    padding: 1.5rem 2.5rem;
    min-height: 370px;
    min-height: 37.0rem;
  }

  @include breakpoint(lg)  {
    width: 100% !important;
    margin-left: 0px !important;
    min-height: 430px;
    min-height: 43.0rem;
  }

  @include breakpoint(lm)  {
    width: 100% !important;
    margin-left: 0px !important;
    min-height: 430px;
    min-height: 43.0rem;
  }

  @include breakpoint(sm)  {
    padding: 15px 25px;
    padding: 1.5rem 2.5rem;
    min-height: 370px;
    min-height: 37.0rem;
    width: 100% !important;
  }

  .head {
    border-bottom: 3px solid $light-gray;
    padding-bottom: 34px;
    padding-bottom: 3.4rem;
    overflow: hidden;

    .icon-box {
      width: 74px;
      height: 74px;
      width: 7.4rem;
      height: 7.4rem;
      line-height: 74px;
      line-height: 7.4rem;
      float:left;
      background: $light-gray;
      border-radius: $default-radius;
      text-align: center;
      font-size: 55px;
      font-size: 5.5rem;
      box-sizing: border-box;
      color: $secondary;
      margin-top: 10px;
      margin-top: 1.0rem;

      @include breakpoint(xl)  {
          width: 74px;
          height: 74px;
          width: 7.4rem;
          height: 7.4rem;
          line-height: 74px;
          line-height: 7.4rem;
          font-size: 55px;
          font-size: 5.5rem;
        }

        @include breakpoint(md)  {
          float: none;
          text-align: center;
          display: block;
          margin: 10px auto 0px;
          margin: 1.0rem auto 0px;
        }

        @include breakpoint(sm)  {
          float: none;
          text-align: center;
          display: block;
          margin: 10px auto 0px;
          margin: 1.0rem auto 0px;
        }
    }

    .head-inner {
      float: left;
      width: 79%;
      margin-left: 19px;
      margin-left: 1.9rem;

        @include breakpoint(xl)  {
          width: 78%;
          margin-left: 10px;
          margin-left: 1.0rem;
        }

        @include breakpoint(lm)  {
          width: 80%;
        }

        @include breakpoint(md)  {
          width: 100%;
          margin-left: 0px;
        }

        @include breakpoint(sm)  {
          width: 100%;
          margin-left: 0px;
        }
    }
  }
}

#contact-box {
  @extend .action-box;
  padding: $tab;
  overflow: hidden;

  @include breakpoint(md)  {
    padding: $tab/2;
  }
}
