/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.headernav {
	float: right;
	margin: 0px;
	padding: 0px;
	position: relative;

	li {
		float: left;
		list-style: none;


		a {
			font-family: $font-subheadline;
			font-size: 18px;
			font-size: 1.8rem;
			font-weight: 700;
			color: $nav_text;
			line-height: 22px;
			line-height: 2.2rem;
			text-decoration: none;
			padding: 32px 34px 31px;
			display: block;
			float: left;
			box-sizing: border-box;

			span {
				display: inline-block;
				margin-right: 5px;
			}
		}

		ul {
			display: none;
		}

		&:hover {
			ul {
				background: $dark_gray;
				border-top: $line-medium solid $accent;
				position: absolute;
				display: block;
				top: (91px - $line-medium);
				right: 0px;
				z-index: 1;
				padding: 0px;

				li {
					float: none;

					a {
						float: none;
						text-align: right;
						border-bottom: 2px solid rgba($light-gray, .25);
						padding: 25px 34px;
					}

					&:last-child a {
						border: none;
					}

				}
			}
		}
	}
}

#magic-line {
	position: absolute;
	bottom: -$line-medium;
	left: 0;
	width: 100px;
	height: $line-medium;
	background: $accent;
}

/* Mobile Navigation (slicknav)
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.slicknav_btn {
	position: relative;
	display: block;
	vertical-align: middle;
	float: right;
	padding: 0.438em 0.625em 0.438em 0.625em;
	line-height: 1.125em;
	cursor: pointer;
	.slicknav_icon-bar + .slicknav_icon-bar {
		margin-top: 0.188em;
	}
}
.slicknav_menu {
	*zoom: 1;
	.slicknav_menutxt {
		display: block;
		line-height: 1.188em;
		float: left;
	}
	.slicknav_icon {
		float: left;
		margin: 0.188em 0 0 0.438em;
	}
	.slicknav_no-text {
		margin: 0;
	}
	.slicknav_icon-bar {
		display: block;
		width: 1.125em;
		height: 0.125em;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	}
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}
.slicknav_nav {
	clear: both;
	ul {
		display: block;
	}
	li {
		display: block;
	}
	.slicknav_arrow {
		font-size: 0.8em;
		margin: 0 0 0 0.4em;
	}
	.slicknav_item {
		cursor: pointer;
		a {
			display: inline;
		}
	}
	.slicknav_row {
		display: block;
	}
	a {
		display: block;
	}
	.slicknav_parent-link a {
		display: inline;
	}
}
.slicknav_brand {
	float: left;
}

//colors
$color_0: rgba(255, 255, 255, 0.75);
$color_btn: #222;
$color_text: #fff;
$color_shadow: #000;
$color_bg: #464C52;
$color_hover_bg: #ccc;
$color_hover_text: #222;

.slicknav_menu {
	font-size: 16px;
	box-sizing: border-box;
	background: $color_bg;
	padding: 5px;
	display: none;

	* {
		box-sizing: border-box;
	}
	.slicknav_menutxt {
		color: $color_text;
		font-weight: bold;
		text-shadow: 0 1px 3px $color_shadow;
	}
	.slicknav_icon-bar {
		background-color: $color_text;
	}
}
.slicknav_btn {
	margin: 22px 5px 6px;
	margin: 2.2rem .5rem .6rem;
	text-decoration: none;
	text-shadow: 0 1px 1px $color_0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: $color_btn;
}
.slicknav_nav {
	color: $color_text;
	margin: 77px 0px 0px;
	margin: 7.7rem 0rem 0rem;
	padding: 0;
	font-size: 0.875em;
	list-style: none;
	overflow: hidden;
	li > a {
		border-bottom: 2px solid rgba($light-gray, .25);
	}
	ul {
		list-style: none;
		overflow: hidden;
		padding: 0;
		margin: 0 0 0 20px;
	}
	.slicknav_row {
		padding: 5px 10px;
		margin: 2px 5px;
		&:hover {
			color: $color_text;
		}
	}
	a {
		padding: 5px 10px;
		margin: 2px 5px;
		text-decoration: none;
		color: $color_text;
		&:hover {
			color: $color_text;
		}
		span {
			display: inline-block;
			margin-right: 5px;
		}
	}
	.slicknav_txtnode {
		margin-left: 15px;
	}
	.slicknav_item a {
		padding: 0;
		margin: 0;
	}
	.slicknav_parent-link a {
		padding: 0;
		margin: 0;
	}
}
.slicknav_brand {
	color: $color_text;
	font-size: 18px;
	line-height: 30px;
	padding: 7px 12px;
	height: 44px;
}

@include breakpoint(lg)  {
	.headernav {
		display:none;
	}

	.slicknav_menu {
		display:block;
	}

	#navigation {
		.three.columns{
			position: absolute;
			top: 0px;
			float: left;
			width: auto;
			z-index: 2;
		}
	}
}

@include breakpoint(lm)  {
	.headernav {
		display:none;
	}

	.slicknav_menu {
		display:block;
	}

	#navigation {
		.three.columns{
			position: absolute;
			top: 0px;
			float: left;
			width: auto;
			z-index: 2;
		}
	}
}

@include breakpoint(sm)  {
	.headernav {
		display:none;
	}

	.slicknav_menu {
		display:block;
	}

	#navigation {
		.three.columns{
			position: absolute;
			top: 0px;
			float: left;
			width: auto;
			z-index: 2;

			.logo {
				max-width: 50%;
			}
		}
	}
}
