/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Flexnav Base Styles */
// NOTE TO ALOK: WE SHOULD TRY TO REMOVE AS MUCH OF THIS AS POSSIBLE
// So we can control styles ourselves

.nav-container nav {
	float: right;
	position: relative;
	z-index: 101;

	@include breakpoint(lg)  {
		width: 100%;
	}

	@include breakpoint(lm)  {
		width: 100%;
	}

}
.flexnav {
	-webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  transition: none;
	-webkit-transform-style: preserve-3d; // stop webkit flicker
  overflow: hidden;
	margin: 0px auto;
	width: 100%;
  max-height: 0;
  padding: 0px;
	float: right;

  &.opacity {
    opacity: 0;
  }

	&.flexnav-show {
		max-height: 2000px;
    opacity: 1;
		-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
		background: $dark_gray;
	}
	&.one-page {
		position: fixed;
		top: 50px;
		right: 5%;
	}

	& > li:hover {
		border-bottom: 6px solid $accent;
	}

	li {
		font-size: 1.8rem;
		position: relative;
		overflow: hidden;
    padding: 0em;

		@include breakpoint(xl)  {
			font-size: 15px;
			font-size: 1.5rem;
	  }

		@include breakpoint(lg)  {
			font-size: 15px;
			font-size: 1.5rem;
	  }

		@include breakpoint(lm)  {
			font-size: 15px;
			font-size: 1.5rem;
	  }
	}
	li a {
		position: relative;
		display: block;
		padding: 0px 30.7px;
		padding: 0rem 3.07rem;
		z-index: 2;
		overflow: hidden;
		color: $nav_text;
		text-transform: uppercase;
		font-weight: bold;
		font-family: $font-subheadline;
    text-decoration: none;
		height: 85px;
		height: 8.5rem;
		line-height: 85px;
		line-height: 8.5rem;

		@include breakpoint(xl)  {
			padding: 0px 20.7px;
	    padding: 0rem 2.07rem;
	  }

		@include breakpoint(lg)  {
			padding: 0px 20.7px;
	    padding: 0rem 2.07rem;
	  }

		@include breakpoint(lm)  {
			padding: 0px 20.7px;
	    padding: 0rem 2.07rem;
	  }
	}

	li ul {
		width: 190px;
		width: 19.0rem;
    padding: 0px;
		text-align: center;
		border-top: 6px solid $accent;

		@include breakpoint(lg)  {
			width: 100%;
		}

		@include breakpoint(lm)  {
			width: 100%;
		}

		li {
			font-size: 1.6rem;
			position: relative;
			overflow: hidden;
      font-weight: 400;
			text-align: right;

			a {
				height: 65px;
				height: 6.5rem;
				line-height: 65px;
				line-height: 6.5rem;
			}
		}
	}
	li ul.flexnav-show {

		li {
			overflow: visible;
		}
	}

	li ul li a {
		display: block;
		background: $dark_gray;
			&:hover {

			}
	}
	ul li ul li a {
		background: $dark_gray;
	}
	ul li ul li ul li a {
		background: $dark_gray;
	}
	.touch-button {
		position: absolute;
		z-index: 999;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
		display: none;
		background: #acaca1;
		background: rgba(0,0,0,.075);
		text-align: center;
		&:hover {
			cursor: pointer;
		}
		.navicon {
			position: relative;
			top: 1.4em;
			font-size: 12px;
			color: #666;
		}
	}
}
.menu-button {
	position: relative;
	display: block;
	padding:0em 1em;
	background: $dark_gray;
	color: $nav_text;
	cursor: pointer;
	height: 91px;
	height: 9.1rem;
	text-align: right;
	line-height: 91px;
	line-height: 9.1rem;

	&.one-page {
		position: fixed;
		top: 0;
		right: 5%;
		padding-right: 45px;
	}

	.touch-button {
		background: transparent;
		position: absolute;
		z-index: 999;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
		display: none;
		text-align: center;
    display: none;

		.navicon {
			font-size: 16px;
			position: relative;
			top: 1em;
			color: #666;
		}
	}
}

@media all and (min-width: 800px) {
	body.one-page {
		padding-top: 70px;
	}
	.flexnav {
		overflow: visible;
		&.opacity {
		  opacity: 1;
		}
		&.one-page {
			top: 0;
			right: auto;
			max-width: 1080px;
		}
		li {
			position: relative;
			list-style: none;
			float: left;
			display: block;
			overflow: visible;
		}
		li a {
			border-bottom: none;
		}
		li > ul {
			position: absolute;
			top: auto;
			right: 0px;

			li {
				width: 100%;
			}
		}
		li ul li > ul {
			margin-left: 100%;
			top: 0;
		}
		li ul li:hover > ul,
		li ul li > ul.flexnav-show {
		}
		li ul li a {
			border-bottom: 2px solid #666a6f;
		}
		li ul.open {
			display: block;
			opacity: 1;
			visibility: visible;
			z-index: 100;
			li {
				overflow: visible;
				max-height: 100px;
			}
			ul.open {
				margin-left: 100%;
				top: 0;
			}
		}
	}
	.menu-button {
		display: none;
	}
}

.oldie {
	body.one-page {
		padding-top: 70px;
	}
	.flexnav {
		overflow: visible;
		&.one-page {
			top: 0;
			right: auto;
			max-width: 1080px;
		}
		li {
			position: relative;
			list-style: none;
			display: inline-block;

			min-height: 50px;
			overflow: visible;
		}
		li:hover > ul {
			display: block;
			width: 100%;
			overflow: visible;
			li {
				width: 100%;
				float: none;
			}
		}
		li a {
			border-bottom: none;
			overflow: visible;
		}
		li > ul {
			background:#acaca1;
			position: absolute;
			top: auto;
			right: 0px;
			display: none;
			z-index: 1;
			overflow: visible;
		}
		li ul li ul {
			top: 0;
		}
		li ul li a {
		border-bottom: 2px solid #666a6f;
		}
		li ul.open {
			display: block;
			width: 100%;
			overflow: visible;
			li {
				width: 100%;
			}
			ul.open {
				margin-left: 100%;
				top: 0;
  				display: block;
				width: 100%;
				overflow: visible;
			}
		}
		ul li:hover ul {
			margin-left: 100%;
			top: 0;
		}
	}
	.menu-button {
		display: none;
	}
	&.ie7 .flexnav li {
		width: 19.9%;
	}
}
