body {
  font-family: $font-body;
  font-size: 22px;
  font-weight: normal;
  line-height: 34px;
  color: $secondary;
}

.heading {
  font-family: $font-headline;
  font-size: 44px;
  font-weight: bold;
  line-height: 59px;
  text-transform: none;
  margin: 0px;
}

.subheading {
  font-family: $font-subheadline;
  font-size: 22px;
  font-weight: bold;
  line-height: 27px;
  margin: 0px;
}
