/* Typogarphy
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-family: $font-body;
  font-size: 62.5%x;
  font-weight: normal;
  line-height: 34px;
  color: $secondary;
}

p  {
  font-size: 2.6rem;
  line-height: 1.46;

  @include breakpoint(xl)  {
    font-size: 20px;
    font-size: 2.0rem;
  }
}

.heading {
  font-family: $font-headline;
  font-size: 44px;
  font-size: 4.4rem;
  font-weight: bold;
  line-height: 59px;
  line-height: 5.9rem;
  text-transform: none;
  margin: 0px;

  @include breakpoint(xl)  {
    font-size: 34px;
    font-size: 3.4rem;
    line-height: 49px;
    line-height: 4.9rem;
  }
}

.subheading {
  font-family: $font-subheadline;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 27px;
  line-height: 2.7rem;
  margin: 0px;

  @include breakpoint(xl)  {
    font-size: 17px;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 22px;
    line-height: 2.2rem;
  }

}

.footer-heading {
  font-family: $font-subheadline;
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 32px;
  line-height: 3.2rem;
  text-transform: none;
  margin: 0px 0px 26px;
  margin: 0px 0px 2.6rem;
  letter-spacing: 0.88px;

  @include breakpoint(xl)  {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
}
<<<<<<< HEAD

.banner-heading-home {
  font-family: $font-headline;
  font-size: 128px;
  font-size: 12.8rem;
  font-weight: bold;
  line-height: 120px;
  line-height: 12.0rem;
  letter-spacing: 0.93px;
  margin: 0px;
  border-bottom: $line-medium solid $dark_gray;
  display: inline-block;
  color: $dark_gray;
  text-align: left;
  padding-bottom: 44px;
  padding-bottom: 4.4rem;
}

.banner-text{
  font-family: $font-subheadline;
  font-size: 38px;
  font-size: 3.8rem;
  line-height: 44px;
  line-height: 4.4rem;
  text-transform: uppercase;
  letter-spacing: -0.76px;
  text-align: left;
}
=======
>>>>>>> inner-pages
