/* Global Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$background: #FFF;
$primary: #96CE69;    /*#FFCA26*/
$secondary: #4A5157;
$accent: #FFD656;    /*#5DC1B7*/
$lightest-gray: #F6F6F6;
$light-gray: #ECEDED;

$nav_text: #fff;
$dark_gray: #4A5157; /*#464C52*/
$btns: #494747;
$footer-gray: #4B5258;

$form-error: #FF6026;
$form-success: #b4e38e;

$font-headline: "abril-titling-condensed", Georgia, serif;
$font-subheadline: "effra", "Arial Black", Gadget, sans-serif;
$font-body: "ff-tisa-web-pro", Georgia, serif;

$default-radius: 3px;
$line-thick: 16px;
$line-medium: 6px;
$line-thin: 3px;
$tab: 5.7rem;
