/* Global Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$background: #FFF;
$primary: #FFCA26;
$secondary: #4A5157;
$accent: #5DC1B7;
$lightest-gray: #F6F6F6;
$light-gray: #ECEDED;

$font-headline: "abril-titling-condensed", Georgia, serif;
$font-subheadline: "effra", "Arial Black", Gadget, sans-serif;
$font-body: "ff-tisa-web-pro", Georgia, serif;

$default-radius: 3px;
$line-thick: 16px;
$line-medium: 6px;
$line-thin: 3px;
$tab: 5.7rem;
