/* Colors */

$background: #FFF;
$primary-color: #FFCA26;
$primary-dark: #4A5157;

/* Font Stacks */

$font-headline: "abril-titling-condensed", Georgia, serif;
$font-subheadline: "effra", "Arial Black", Gadget, sans-serif;
$font-body: "ff-tisa-web-pro", Georgia, serif;

body {
    font-family: $font-body;
}

.nav-container {
  background-color: $primary-dark;
}

h1 {
    font-family: $font-headline;
    text-transform: uppercase;
}

h2 {
    font-family: $font-subheadline;
    text-transform: uppercase;
}

/* Body Border Effect */
// $body-border-size: 18px;
// body:before, body:after {
//     content: "";
//     position: fixed;
//     background: $background;
//     left: 0;
//     right: 0;
//     height: $body-border-size;
// }
// body:before {
//     top: 0;
// }
// body:after {
//     bottom: 0;
// }
// body {
//     border-left: ($body-border-size - 3px) solid $background;
//     border-right: ($body-border-size - 3px) solid $background;
// }
