<footer>
<div class="container footer-top">
<div class="row">
  <div class="one-half column">
    <h2 class="footer-heading">CENTERRA CAPITAL</h2>
    <div class="row">
    <ul class="six columns">
      <li><a href="real-estate.html">REAL ESTATE</a></li>
      <li><a href="business-advisory.html">BUSINESS ADVISORY</a></li>
      <li><a href="investments.html">INVESTMENTS</a></li>
      <li><a href="agriculture.html">AGRICULTURE</a></li>
      <li><a href="leadership.html">LEADERSHIP</a></li>
      <li><a href="transactions.html">TRANSACTIONS</a></li>
      <!-- <li><a href="press.html">PRESS</a></li> -->
      <li><a href="contact.html">CONTACT</a></li>
    </ul>

    <div class="six columns vcard">
      <address>

        <span class="street-address">1020 10TH STREET, SUITE 300</span>
        <span class="country-name">MODESTO, CA 95354</span>
      </address>
      <a href="tel:2095221532" class="footer-tel">(209) 522-1532</a>
      <a href="mailto:info&#64;centerracapital.com" class="footer-email">INFO&#64;CENTERRACAPITAL.COM</a>
    </div>
  </div>
  </div>
  <div class="one-half column">
    <h2 class="footer-heading">TRUSTED IN THE CENTRAL VALLEY</h2>
    <!-- <ul class="trusted_logo"> -->
    </ul class="trusted_logo">
    <ul>
      <li><a href="http://www.primeshine.com/"><img src="images/prime_shine_logo_white.svg" alt="Prime Shine Car Wash Logo" class="client-logo ps"/></a></li>
      <li><a href="http://www.fuzio.com/"><img src="images/fuzio_logo_white.svg" alt="Fuzio Logo" class="client-logo fuzio"/></a></li>
      <li><a href="http://www.dsbeverage.com/"><img src="images/delta_sierra_logo_white.svg" alt="Delta Sierra Beverage Logo" class="client-logo ds"/></a></li>
    </ul>
  </div>
</div>
</div>
<div class="container">
<p class="row copyright">Copyright 2015 Centerra Capital</p>
</div>
</footer>

</body>
</html>
