<aside class="four columns u-pull-right">
  <div class="sidebar-container">
    <div class="sidebar">
      @@if (fixed != '') {
          <!-- code here -->
          <nav class="trans-nav-outer">
            <ol class="trans-nav">
              <li class="active"><a href="#">All Transactions</a></li>
              <li data-category=".real-estate"><a href="#">Real Estate</a></li>
              <li data-category=".business"><a href="#">Business Advisory</a></li>
            </ol>
          </nav>
      }
      <div id="cta">
        <h4>@@title</h4>
        <p>@@message</p>
        <form id="cta-form">
          <input type="text" name="contact" id="cta-contact" placeholder="Phone or email" class="phone-input" required />
          <input type="text" name="name" id="cta-name" placeholder="Name" class="name-input" required / >
          <input type="hidden" name="_subject" value="Inquiry from www.centerracapital.com" />
          <input type="hidden" name="_cc" value="seana@centerracapital.com" />
          <input type="hidden" name="_cc" value="tony@centerracapital.com" />
          <input type="hidden" name="_cc" value="patrick@centerracapital.com" />
          <input type="text" name="_gotcha" style="display:none" />
          <input type="submit" value="Request Contact" class="btn_yellow" id="submit_btn" />
        </form>
        <span class="msg">We’ll be in touch soon.</span>
      </div>
    </div>
  </div>
</aside>
