<div class="infobox-content">
  <h3>15 Twenty Four Professional Center</h3>
  <h4><span class="tag">REAL ESTATE</span> MODESTO, CALIFORNIA</h4>
  <div class="indent">
    <img src="images/placeholder.jpg" alt="" />
    <p>Centerra acquired this Tri-Valley Area, Class-A, office building for an investor group desiring consistent cash-flow and strong appreciation potential. As anticipated, several key tenants and new developments entered the market near this property during the holding period and ensured that the property was able to command top dollar when the property was sold in early 2008. Centerra delivered a competitive interest rate and terms for the debt on this property, which resulted in a profitable outcome for our clients.</p>
  </div>
  <div class="row infobox-bottom">
    <div class="one-half column">
      <h5>PROPERTY DETAILS</h5>
      <ul>
        <li>Professional Medical / Oﬃce Building</li>
        <li>132,746 SF Class A</li>
        <li>30 tenants, including 7 national</li>
        <li>94% occupancy</li>
      </ul>
    </div>
    <div class="one-half column">
      <h5>FINANCIALS</h5>
      <ul>
        <li>Purchase Price: $22.9m</li>
        <li>$173/sf vs. $300+/sf replacement cost</li>
        <li>$3.1m in annual revenue</li>
        <li>Financing: $13.5m</li>
      </ul>
    </div>
  </div>
  <hr/>
</div>
