<div class="title-box">
    <time>OCTOBER 2007</time>
    <h2>Prime Time Express Carwash<small>RECAPITALIZATION</small></h2>
</div>
<div class="infobox-content">
  <h4><span class="tag">FINANCIAL TRANSACTION</span> SECURED BY CENTERRA CAPITAL</h4>
  <div class="indent">
    <p>Centerra Capital was engaged by Prime Shine Express to re-capitalize the company’s Balance Sheet.</p>
    <p>In December of 2007, Prime Shine closed on a financing package that successfully replaced their existing, short-term, permanent financing with long term, low interest loan. This financing also included a credit line for future expansion. Despite the increase in the amount borrowed, Centerra was able to negotiate a rate and terms that made the monthly payment lower than it had been with the previous financing package.</p>
  </div>
</div>
