@@include('./partials/_header.html', {"name": "agriculture"})

@@include('./partials/_banner-inner.html', {
  "icon": "icon-agriculture",
  "heading": "Agriculture",
  "subheading": "LOREM IPSUM POLLOCK CORUM."
})

<!-- page_content defines the bounds of scrollnav widget -->
<div class="container last-margin">
  <div class="row">
    <div class="eight columns content-block">
      <article class="navigable services last-margin">
        <h3>To Be Determined</h3>
      </article>
    </div>


    @@include('./partials/_sidebar.html')

  </div>
</div>

@@include('./partials/_footer.html')
