@@include('./partials/_header.html', {"name": "agriculture"})

@@include('./partials/_banner-inner.html', {
  "icon": "icon-agriculture",
  "heading": "Agriculture",
  "subheading": "The Engine of our economy."
})

<!-- page_content defines the bounds of scrollnav widget -->
<div class="container last-margin">
  <div class="row">
    <div class="eight columns content-block">
      <article class="navigable services last-margin">
        <h3>Committed to Growers</h3>
        <h5 class="margin-btm">Centerra Capital has deep roots and first hand experience in the agriculture sector.  Many of our first clients were family growers and food processors in the Central Valley. We understand the unique needs facing modern farmers and agribusinesses.</h5>

        <hr/>

        <h4>ADVISORY &amp; FINANCE</h4>
        <div class="indent">
          <p>Over the last 17 years we’ve expanded the reach of our practice and developed strong relationships with regional and global capital providers. This enables us to bring the tools of modern finance to rural businesses. Our clients call us when they want to make big things happen, like increasing acreage under production or expanding into new areas of the food sector.</p>
        </div>

        <h4>AGTECH</h4>
        <div class="indent">
          <p>With unprecedented resource constraints, and an ever growing population to feed, supporting the next generation of technology enabled Ag businesses has never been more important. Centerra’s unique combination of agricultural insight, technology expertise, and location in the heart of California’s cropland means that we are ideally positioned to advise emerging growth AgTech companies. Our professionals maintain extensive relationships with investors, growers, and strategic partners to help clients realize their growth objectives.</p>
          <p class="footnote">Learn more about <a href="http://www.agtechinsight.com/">Agtech Insight</a>, our partner in AgTech advisory.</p>
        </div>
      </article>
    </div>

    @@include('./partials/_sidebar.html', {
      "fixed": "",
      "title": "LET’S TALK SHOP",
      "message": "We can help with strategy, operations and finance. Free consultation."
    })

  </div>
</div>

@@include('./partials/_footer.html')
