@@include('./partials/_header.html', {"name": "agriculture"})

@@include('./partials/_banner-inner.html', {
  "icon": "icon-agriculture",
  "heading": "Agriculture",
  "subheading": "The Engine of our economy."
})

<!-- page_content defines the bounds of scrollnav widget -->
<div class="container last-margin">
  <div class="row">
    <div class="eight columns content-block">
      <article class="navigable services last-margin">
        <h3>Committed to Growers</h3>
        <h5 class="margin-btm">Centerra Capital has deep roots in the agriculture sector. Many of our first clients were family growers and food processors in California’s Central Valley region. We now service leading agribusinesses across the industry.</h5>
        <hr/>
        <h4>ADVISORY &amp; FINANCE</h4>
        <div class="indent">
          <p>We help food producers and agribusinesses develop and implement successful growth strategies. Our advisors can help analyze new opportunities and assist with matters concerning real estate, vertical integration, capital formation, business sales and acquisitions, and expansion into new verticals. This agriculture expertise complements our traditional <a href="/business-advisory.html">business advisory services.</a></p>
          <p>Centerra’s practice spans all sectors of the agribusiness, including family farms, commodity traders, food producers, processors, entrepreneurs and real estate investors. This broad scope gives our team unique insight into emerging industry trends and developments. Clients benefit from this proprietary industry insight paired with unparalleled access to global capital markets.
          </p>
        </div>

        <h4>AGTECH</h4>
        <div class="indent">
          <p>With unprecedented resource constraints, and an ever growing population to feed, supporting the next generation of technology enabled Ag businesses has never been more important. Centerra’s unique combination of agricultural insight, technology expertise, and location in the heart of California’s cropland means that we are ideally positioned to advise on matters of agriculture technology.</p>
          <p>We help established producers and processors evaluate and deploy new technologies. We also assist AgTech startups in strategic planning and capital formation. Our professionals maintain extensive relationships with investors, growers, and strategic partners to help clients realize their growth objectives.
          </p>
          <p class="footnote">Learn more about <a href="http://www.agtechinsight.com/">Agtech Insight</a>, our partner in AgTech advisory.</p>
        </div>
      </article>
    </div>

    @@include('./partials/_sidebar.html', {
      "fixed": "",
      "title": "LET’S TALK SHOP",
      "message": "We can help with strategy, operations and finance. Free consultation."
    })

  </div>
</div>

@@include('./partials/_footer.html')
