@@include('./partials/_header.html', {"name": "corporate-advisory"})

@@include('./partials/_banner-inner.html', {
  "icon": "icon-corporate",
  "heading": "Business Advisory",
  "subheading": "CAPITAL FORMATION &amp; STRATEGIC ADVISORY SERVICES"
})

<!-- page_content defines the bounds of scrollnav widget -->
<div class="container">
  <div class="row last-margin">
    <div class="eight columns content-block">
      <article class="navigable services">
        <h3>Capital Formation</h3>
        <h5>Centerra helps your business thrive by providing timely access to capital. We work across industries and assist clients with a wide range of capital formation objectives, including expansion capital, debt restructuring, and project financing.</h5>
        <h5>We are deeply connected in the Central Valley and Central Oregon investment community and maintain a broad network of global financiers and lenders. You’ll benefit from our longstanding relationships with regional and national banks, investment banks, insurance companies, securitized lenders, mezzanine lenders, private equity funds, and high net-worth individuals. We ensure that you source the right form of capital with the right partners.</h5>

        <h4>GROWTH CAPITAL</h4>
        <div class="indent">
          <p>Is your company positioned to take advantage of a new business opportunity? Perhaps you could accelerate growth by leasing new equipment, buying property or acquiring a competitor. But you need capital, and more than is available from conventional banks and lenders.</p>
          <p>Centerra Capital helps small and middle-market businesses secure the capital needed to grow. We assist our clients in analyzing their business opportunities, evaluating potential sources of financing, and negotiating the terms of the deal.</p>
          <p>Our team is experienced, creative, and fluent in a wide-range of deal structures. We routinely complete deals in the form of senior debt, mezzanine debt, growth equity and hybrid capital structures.</p>
        </div>

        <h4>REFINANCING</h4>
        <div class="indent">
          <p>Sometimes the best way to raise capital is to optimize your balance sheet, including restructuring existing debt. You can create liquidity, reduce monthly payments or change your risk profile (e.g. switching from a variable-rate to a fixed-rate loan). We can analyze your balance sheet and help facilitate a profitable debt refinancing or consolidation program to lower your cost of capital and to help meet your specific needs.</p>
        </div>

        <h4>EARLY STAGE FUNDRAISING</h4>
        <div class="indent">
          <p>Centerra Capital can help your early-stage company raise money to scale a proven business model. Advisory services include preparation of business materials and financial forecasts for potential investors, structuring of debt or equity-based investment vehicles, and introduction to appropriate funders from our network. </p>
          <p>Though we can only work with a handful of early-stage companies per year, we consider this an exciting part of our practice and enjoy forming partnerships with innovative startups, especially in AgTech.</p>
        </div>


      </article>

      <!-- <section class="infobox">
        <header>
          <h2>TESTIMONIAL</h2>
          <a href="#" class="btn_yellow">VIEW ALL TRANSACTIONS</a>
        </header>

        <div class="infobox-content">
          <h3>Some Company Name</h3>
          <h4><span class="tag">ADVISORY REFERENCE</span> JOHN DOE, CFO</h4>
          <div class="indent">
            <span class="icon-quotes-left quotes-left"></span>
            <p class="quotes-para">Laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Integer posuere erat a ante seren venenatis dapibus posuere velit aliquet natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo nascetur ridiculus mus magnis Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus nurna mollis ornare vel eu leo.</p>
          </div>
        </div>
      </section> -->

      <article class="navigable services">
        <hr/>
        <h3>Advisory Services</h3>
        <h5>We do more than raise money. Our advisors can help generate value across the entire spectrum of corporate work, including mergers and acquisitions, expansions, joint ventures, divestments and restructurings. We combine exceptional transactional skills with specialist expertise in real estate, agriculture and operating companies.</h5>

        <h4>SELLING YOUR BUSINESS</h4>
        <div class="indent">
          <p>Whether you have already been approached, or are contemplating a sale in the future, we can help prepare your business to maximize value. We then work closely with your team to manage the sales process and drive the deal to completion.</p>
        </div>

        <h4>BUYING A BUSINESS</h4>
        <div class="indent">
          <p>Growing your business often requires the acquisition of competitors or complementary companies. Perhaps you need to expand your geographic reach, acquire hard-to-get customers or assets, or position your business for a larger sale. We can help you navigate the acquisition lifecycle and realize the expected value of the transaction.</p>
          <p>Centerra Capital assists clients with development of an acquisition strategy, sourcing of capital to fund the transaction, identification of takeover targets, negotiation of price, and ultimately, completion of the deal. We then help you navigate the complex tax, personnel and property issues that arise when combining operations, with the goal of maximizing your return on investment.</p>
        </div>

      </article>

        <!-- <div class="title-box">
            <time>JULY 2013</time>
            <h2>Smaller Company <small>ACQUIRED BY</small> Much Larger Company</h2>
        </div>

        <div class="infobox-content">
          <h4><span class="tag">M&amp;A</span> UNDERSIGNED BY CENTERRA CAPITAL</h4>
          <div class="indent">
            <p>Description of Centerra’s work on the deal. Laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo nascetur ridiculus mus magnis</p>
          </div>
        </div>
      </section>
      -->
    </div>

    @@include('./partials/_sidebar.html', {
      "title": "FREE CONSULTATION",
      "message": "Tell us about your business and how you plan to grow. We might be able to help."
    })

  </div>
</div>

@@include('./partials/_footer.html')
