@@include('./partials/_header.html', {"name": "about"})

@@include('./partials/_banner-inner.html', {
  "icon": "",
  "heading": "Contact",
  "subheading": ""
})

<!-- page_content defines the bounds of scrollnav widget -->
<div class="container last-margin">
  <div class="row contact-page">
    <div class="five columns">
      <article class="navigable services">
        <h3>Let’s talk about your business.</h3>
        <p>We'd enjoy the opportunity to learn about your business and see if we can help.
        <p>Give us a call or submit an inquiry using the contact form to the right. We'll get back to you within 24 hours. In just one short conversation we'll talk through your problem, explain our services, and see if we can be of value.</p>
      </article>
    </div>

    <div class="seven columns u-pull-right">
      <div id="contact-box">
        <div class="one-half column contact-info">
            <h2>CONTACT US</h2>
            <a href="tel:2095221532" class="contact-tel">(209) 522-1532</a>
            <a href="mailto:info&#64;centerracapital.com" class="contact-email">info&#64;centerracapital.com
</a>
            <address>
              <span class="con-company-name">Centerra Capital</span>
              <span class="con-street-address">1020 10th Street, Suite 300</span>
              <span class="con-country-name">Modesto, Ca 95354</span>
            </address>
        </div>
        <div class="one-half column">
          <h2>OR SEND AN INQUIRY</h2>
          <form class="contact-form" id="contact-form">
            <input type="text" name="name" id="cf-name" placeholder="Name" required  / >
            <input type="text" name="contact" id="cf-contact" placeholder="Phone or email" required  />
            <span class="opt-label">Optional</span>
            <input type="text" name="company" id="cf-company" placeholder="Company"  / >
            <span class="opt-label">Optional</span>
            <textarea name="message" placeholder="Message" id="cf-message"></textarea>
            <input type="hidden" name="_subject" value="Inquiry from www.centerracapital.com" />
            <input type="hidden" name="_cc" value="seana@centerracapital.com" />
            <input type="hidden" name="_cc" value="tony@centerracapital.com" />
            <input type="hidden" name="_cc" value="donny@centerracapital.com" />
            <input type="hidden" name="_cc" value="patrick@centerracapital.com" />
            <input type="text" name="_gotcha" style="display:none" />
            <input type="submit" value="Request Contact" class="btn_yellow" id="submit_btn" />
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

@@include('./partials/_footer.html')
