@@include('./partials/_header.html')

@@include('./partials/_banner-inner.html', {
  "icon": "icon-investment-04",
  "heading": "Funds",
  "subheading": "LOREM IPSUM POLLOCK CORUM."
})

<!-- page_content defines the bounds of scrollnav widget -->
<div class="container last-margin">
  <div class="row">
    <div class="eight columns">
      <article class="navigable services last-margin">
        <h3>Proven Performance</h3>
        <h5>Sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</h5>
      </article>
    </div>

    <div class="four columns u-pull-right">
      <div class="sidebar-container">
        <div class="sidebar">

          <nav class="scroll-nav" role="navigation">
            <div class="scroll-nav__wrapper">
              <ol class="scroll-nav__list">
                <li class="scroll-nav__item is-parent-item in-view">
                  <a href="#scrollNav-1" class="scroll-nav__link">PROVEN PERFORMANCE</a>
                  <ol class="scroll-nav__sub-list">
                    <li class="scroll-nav__sub-item active in-view">
                      <a href="#scrollNav-1-1" class="scroll-nav__sub-link">FUND V</a>
                    </li>
                    <li class="scroll-nav__sub-item">
                      <a href="#scrollNav-1-2" class="scroll-nav__sub-link">FUND IV</a>
                    </li>
                    <li class="scroll-nav__sub-item">
                      <a href="#scrollNav-1-3" class="scroll-nav__sub-link">FUND II/III</a>
                    </li>
                    <li class="scroll-nav__sub-item">
                      <a href="#scrollNav-1-4" class="scroll-nav__sub-link">FUND I</a>
                    </li>
                  </ol>
                </li>
              </ol>
            </div>
          </nav>

          @@include('./partials/_cta.html')
        </div>
      </div>
    </div>

  </div>
</div>

@@include('./partials/_footer.html')
