@@include('./partials/_header.html', {"name": ""})

<div class="container banner-home">
  <div class="row banner-home-inner">
    <div class="banner-content banner">
      <h1>Trusted Dealmakers.</h1>
      <p>SUPERIOR COUNCIL &amp; EXECUTION IN REAL ESTATE &amp; FINANCE.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="one-half column service-block">
      <div class="head">
        <span class="icon-box icon-corporate"></span>
        <div class="head-inner">
          <h2 class="heading">Corporate Advisory</h2>
          <h3 class="subheading">CAPITAL FORMATION &amp; STRATEGIC ADVISORY SERVICES.</h3>
        </div>
      </div>
      <p>Centerra Capital can assist with your expansion, refinancing, acquisition or divestment. We advise on complex strategic transactions and maintain a deep network of capital providers. <a href="#" class="btn_yellow">Learn More</a></p>
    </div>
    <div class="one-half column service-block">
      <div class="head">
        <span class="icon-box icon-real-estate"></span>
        <div class="head-inner">
          <h2 class="heading">Real Estate</h2>
          <h3 class="subheading">EARN SUPERIOR RETURNS ON INVESTMENTS.</h3>
        </div>
      </div>
      <p>We help businesses and developers finance and execute profitable real estate transactions.</p>
    </div>
  </div>
  <div class="row">
    <div class="one-half column service-block">
      <div class="head">
        <span class="icon-box icon-investment-04"></span>
        <div class="head-inner">
          <h2 class="heading">Investments</h2>
          <h3 class="subheading">FUNDS &amp; PORTFOLIO MANAGEMENT</h3>
      </div>
      </div>
      <p>Centerra Capital sponsors a suite of real estate-based investment funds for accredited investors. We can also assist with management of your portfolio.</p>
    </div>
    <div class="one-half column service-block">
      <div class="head">
        <span class="icon-box icon-agriculture"></span>
        <div class="head-inner">
          <h2 class="heading">Agriculture</h2>
          <h3 class="subheading">SERVING THE UNIQUE NEEDS OF FARMERS &amp; AGRIBUSINESS.</h3>
        </div>
      </div>
      <p>We can help finance the expansion of your business, consolidate debt, improve the performance of your assets and assist with generational transitions.</p>
    </div>
  </div>
</div>

@@include('./partials/_footer.html')
