@@include('./partials/_header.html', {"name": "funds"})

@@include('./partials/_banner-inner.html', {
  "icon": "icon-investment-04",
  "heading": "Investments",
  "subheading": "FUNDS AND PORTFOLIO MANAGEMENT"
})

<!-- page_content defines the bounds of scrollnav widget -->
<div class="container last-margin">
  <div class="row funds">
    <div class="eight columns content-block navigable">
      <article class="navigable services">
        <h3>Proven Performance</h3>
        <h5>Centerra Capital helps high net worth individuals and institutions achieve premium returns on Real Estate assets. We offer portfolio management and direct investment in Centerra managed funds.</h5>

      <h4 class="hidden">RE Opportunity Fund</h4>
      <div class="infobox-content action-box">
        <h4>RE Opportunity Fund <span class="tag open-tag">OPEN</span></h4>
        <div class="row infobox-bottom">
          <div class="three columns">
            <!-- <h5>DETAILS</h5>  -->
            <ul>
              <li><strong>Established:</strong> 2015</li>
              <li><strong>Space:</strong> Real Estate</li>
              <li><strong>Size:</strong> $50 million</li>
            </ul>
          </div>
          <div class="nine columns">
            <!-- <h5>DESCRIPTION</h5>  -->
            <ul>
              <li>The RE Opportunity Fund offers accredited investors the opportunity to achieve market-rate or better returns from opportunistic investments in real estate and other select assets.  The Fund will extend credit on and invest in all types of real estate assets located throughout the western United States, and will develop, operate and manage real estate assets.  The Fund may invest a limited amount of its capital in other asset-secured opportunities.  The Fund is seeking up to $50 million in capital commitments from investors.</li>
              <li>The Fund will pursue opportunities that are consistent with its fundamental investment philosophy that attractive risk-adjusted returns can be achieved by utilizing real estate and capital market expertise, a highly disciplined investment process, and depth of knowledge of the geographic target market.</li>
              <li>The Funds Sponsor and Manager have assembled a management and advisory team that collectively has over 75 years of practical real estate and finance experience, developed through all stages of the real estate cycle. The Manager will adhere to the Sponsors investment strategy, with emphasis on: identifying and acquiring undervalued assets; focusing on portfolio diversification by asset type; prudently leveraging capital structures; applying the Sponsors rigorous due diligence and selection guidelines; and closely managing assets utilizing the Sponsors existing capabilities.</li>
              <li>The Fund might also engage in select development and redevelopment opportunities, where market conditions support such investments.</li>
            </ul>
          </div>
        </div>
      </div>

      <h4 class="hidden">FUND II</h4>
      <div class="infobox-content action-box">
        <h4>FUND II<span class="tag close-tag">Closed</span></h4>
        <div class="row infobox-bottom">
          <div class="three columns">
            <!-- <h5>DETAILS</h5>  -->
            <ul>
              <li><strong>Established:</strong> 2011</li>
              <li><strong>Space:</strong> Real Estate</li>
            </ul>
          </div>
          <div class="nine columns">
            <!-- <h5>DESCRIPTION</h5>  -->
            <ul>
              <li>Fund II offers select institutional and high net worth investors the opportunity to achieve market rate or better returns from opportunistic investments in real estate and other assets located throughout the Western United States. Additionally, the Fund invests a limited amount of its capital in other asset secured opportunities including private equity investments. The Fund will operate for 7 years and return income on a quarterly basis.</li>
            </ul>
          </div>
        </div>
      </div>

      <h4 class="hidden">FUND I</h4>
      <div class="infobox-content action-box">
        <h4>FUND I <span class="tag close-tag">Closed</span></h4>
        <div class="row infobox-bottom">
          <div class="three columns">
            <!-- <h5>DETAILS</h5>  -->
            <ul>
              <li><strong>Established:</strong> 2007</li>
              <li><strong>Space:</strong> Real Estate</li>
            </ul>
          </div>
          <div class="nine columns">
            <!-- <h5>DESCRIPTION</h5>  -->
            <ul>
              <li>Fund I provides real estate backed mezzanine or subordinate financing in connection with multiple real estate development projects in which the Manager or its affiliates has a direct or indirect ownership interest. Fund I remains invested and to date has generated annualized returns of 12%.</li>
            </ul>
          </div>
        </div>
      </div>
      </article>
    </div>

    @@include('./partials/_sidebar.html', {
      "title": "NOW SEEKING INVESTMENT",
      "message": "Diversify your portfolio with Centerra Real Estate Funds. Space is limited."
    })

  </div>
</div>

@@include('./partials/_footer.html')
