@@include('./partials/_header.html', {"name": "about"})

@@include('./partials/_banner-inner.html', {
  "icon": "",
  "heading": "Leadership",
  "subheading": "Trusted by clients across the Western United States."
})

<!-- page_content defines the bounds of scrollnav widget -->
<div class="container last-margin">
  <div class="row">
    <div class="eight columns content-block">
      <article class="navigable services last-margin">
        <div class="bio">
          <h3>Paul Draper</h3>
          <h4>President &amp; CEO</h4>
          <p>Paul is Centerra Capital’s founder and principal dealmaker. He works closely with a diverse mix of clients to overcome business challenges and get deals done. Since 1998, Paul and his team at Centerra Capital have allocated more than a billion dollars in financing and moved millions of square-feet of property across California and Oregon. He practices the craft of finance with equal parts discipline and creativity. </p>
          <p>Paul is a lifelong resident of California’s Stanislaus County. He is active in the community and has served as a member of the Board of Trustees of <em>Sutter Gould Medical Foundation</em>, as Trustee of the <em>Gallo Center for the Arts</em>, and sits on the <em>Investment Committee</em> and <em>The First Tee of Stanislaus County</em>.</p>
          <p>Paul’s professional history includes decades of management experience for small and middle-market companies. His accomplishments span the sectors of finance, agriculture, food-processing and technology. Paul partnered in a joint venture that successfully moved a major food processor into the California nut-industry. He was also instrumental in bringing two major technological innovations to agriculture: enterprise data-processing software in the 1970s, and drip irrigation in the early 1980s.</p>
          <p class="footnote">Paul graduated with honors from the University of California, Davis in Agricultural Economics and Business Management and holds a Masters Degree in Business Administration from Harvard University.</p>
          <hr/>
        </div>

        <div class="bio">
          <h3>Tony Ramirez</h3>
          <h4>Senior Underwriter</h4>
          <p>Tony is involved in all aspects of Centerra Capital’s real estate and client transactions, including asset acquisition and financing. Key transactions include the $22M acquisition and financing of Fifteen 24 Professional Center, a 132,000-sf medical office building in Modesto, and a client advisory and financing engagement resulting in a $30M business merger.</p>
          <p>Prior to joining Centerra Capital in 2007, Tony spent more than 20 years in consumer and mortgage banking in roles including strategic planning, acquisitions and capital markets. As Vice President for a premier West Coast consumer banking franchise, he participated in an acquisition program that grew deposits to over $100b. As Vice President for a Top 5 mortgage lender, he participated in an acquisition program that created a nationwide franchise. As part of these two efforts, Tony was involved in capital transactions that served to support the resulting growth.</p>
          <p class="footnote">Tony holds a Master of Business Administration Degree from Stanford Business School and a Bachelor of Arts Degree from Yale University.</p>
          <hr/>
        </div>

        <div class="bio">
          <h3>Seana Day Hull</h3>
          <h4>Managing Director</h4>
          <p>Seana has over 10 years of investment banking experience focusing on emerging growth businesses across the technology, ag technology, consumer, and manufacturing landscape. Seana’s transaction experience includes capital formation (venture capital and growth equity), M&A, and restructuring. Seana's most recent role as Director of Business Development and Strategy at AgTech Insight, LLC affords her the opportunity to advise startups and investors in the rapidly expanding ag technology sector.</p>
          <p>Prior to joining Centerra Capital, she led AGC Partners’ European expansion as Managing Director of the London office. While at AGC Partners, a leading global technology focused investment bank, Seana worked with companies across communications infrastructure, mobile / wireless, enterprise software, and digital media. Seana has also held operating positions with Versata Enterprises (Director of Operations and Restructuring) and Threshold Wine Company (Director of Finance and Operations).</p>
          <p>Seana formerly worked at Ridgecrest Capital Partners, a technology investment bank, and Headwaters Merchant Bank where she specialized in M&amp;A advisory for consumer and manufacturing companies. Seana has also worked in private equity with Marsico Enterprises and retail investment advisory with Robert W. Baird &amp; Co.</p>
          <p>Seana is a fourth generation Central Valley resident with a passion for supporting innovation and investment in our food system.</p>
          <p class="footnote">Seana received her MBA from Daniels College of Business at the University of Denver and holds a BA in Political Science from the University of Colorado, Boulder.</p>
          <hr/>
        </div>

        <div class="bio">
          <h3>Patrick Burda</h3>
          <h4>Principal</h4>
          <p>Patrick has worked in the commercial banking industry for more than 10 years. Prior to Centerra Capital, Patrick worked at Oak Valley Community Bank in Modesto, CA as a Commercial Loan Officer, where his responsibilities included managing a portfolio of over 25 relationships with loan commitments in excess of $20 million. His areas of focus included commercial real estate lending, C&amp;I lending, financial analysis and business strategy. He worked with clients in a wide-ranging array of industries, while providing sound financial advice, working with management on current and future company strategy and structuring appropriate borrowing requirements.  Patrick is a product of the Central Valley and is an active member of the community, serving as Chairman of the Board for The First Tee of Central Valley and Vice-President of the Board for the Children’s Crisis Center of Stanislaus County.</p>

          <p class="footnote">Patrick holds a BS in Business Management from California State University, Stanislaus.</p>
        </div>

      </article>
    </div>

    @@include('./partials/_sidebar.html', {
      "title": "MEET THE TEAM",
      "message": "We can help with strategy, operations and finance. Free consultation."
    })

  </div>
</div>

@@include('./partials/_footer.html')
