@@include('./partials/_header.html', {"name": "about"})

@@include('./partials/_banner-inner.html', {
  "icon": "",
  "heading": "Leadership",
  "subheading": "LOREM IPSUM POLLOCK CORUM."
})

<!-- page_content defines the bounds of scrollnav widget -->
<div class="container last-margin">
  <div class="row leadership">
    <div class="three columns">&nbsp;</div>
    <div class="six columns">
      <div class="bio">
        <img src="images/img-paul.jpg" alt="" class="bio-img-left" />
        <h3>Paul Draper</h3>
        <h4>President &amp; CEO</h4>
        <p>Paul is Centerra Capital’s founder and principal dealmaker. He works closely with a diverse mix of ambitious clients to overcome business challenges and get deals done. Since 1998, Paul and his team at Centerra Capital have allocated more than a billion dollars in financing and moved millions of square-feet of property across California and Oregon. He practices the craft of finance with equal parts discipline and creativity.</p>
        <p>Paul is a lifelong resident of California’s Stanislaus County. He presently serves as a member of the Board of Trustees of Sutter Gould Medical Foundation and a Trustee of the Gallo Center for the Arts. Paul is thankful that his professional efforts have meaningful impact in his community, as seen in the success of developments like 1020 Tenth Street, a 32,000 sf Class A office building in the heart of Modesto.</p>
        <p>Paul’s professional history includes decades of management experience for middle-market companies. His accomplishments span the sectors of finance, agriculture, food-processing and technology. Paul partnered in a joint venture that successfully moved a major food processor into the California nut-industry. He was also instrumental in bringing two major technological innovations to agriculture: enterprise data processing software in the 1970s, and drip irrigation in the early 1980s.</p>

        <p class="footnote">Paul graduated with honors from the University of California, Davis in Agricultural Economics and Business Management and holds a Masters Degree in Business Administration from Harvard University.</p>

        <hr/>
      </div>

      <div class="bio">
        <img src="images/img-tony.jpg" alt="" class="bio-img-right" />
        <h3>Tony Ramirez</h3>
        <h4>Senior Underwriter</h4>
        <p>Tony evaluates and advises on projects in the areas of corporate finance, acquisitions and real estate development.</p>
        <p>Prior to joining Centerra Capital in 2007, Tony spent more than 20 years in consumer and mortgage banking in roles including strategic planning, acquisitions and capital markets. As Vice President for a premier West Coast consumer banking franchise, he participated in an acquisition program that grew deposits to over $100b. As Vice President for a Top 5 mortgage lender, he participated in an acquisition program that created a nationwide franchise. As part of these two efforts, Tony was involved in capital transactions that served to support the resulting growth.</p>

        <p class="footnote">Tony holds a Master of Business Administration Degree from Stanford Business School and a Bachelor of Arts Degree from Yale University.</p>

        <hr/>
      </div>

      <div class="bio">
        <img src="images/img-seana.jpg" alt="" class="bio-img-left" />
        <h3>Seana Day Hull</h3>
        <h4>Director</h4>
        <p>Seana has spent the last 11 years as an investment banker focused on emerging growth businesses across the technology, ag technology, consumer, and manufacturing landscape. Seana’s transaction experience includes capital formation (venture capital and growth equity), M&amp;A, and restructuring. Prior to joining Centerra Capital, she led AGC Partners’ European expansion as Managing Director of the London office. While at AGC Partners, a leading global technology focused investment bank, Seana worked with companies across communications infrastructure, mobile / wireless, enterprise software, and digital media. Seana has held operating positions with Versata Enterprises (Director of Operations and Restructuring) and Threshold Wine Company (Director of Finance and Operations).</p>
        <p>Seana formerly worked at Ridgecrest Capital Partners, a technology investment bank, and Headwaters Merchant Bank where she specialized in M&amp;A advisory services for consumer and manufacturing companies. Seana has also worked in private equity with Marsico Enterprises and retail investment advisory with Robert W. Baird &amp; Co.</p>
        <p>Seana  is a fourth generation Central Valley resident with a passion for supporting innovation and investment in our food system. She received her MBA from Daniels College of Business at the University of Denver and holds a BA in Political Science from the University of Colorado, Boulder</p>
      </div>
    </div>

  </div>
</div>

@@include('./partials/_footer.html')
