@@include('./partials/_header.html', {"name": "funds"})

@@include('./partials/_banner-inner.html', {
  "icon": "",
  "heading": "News",
  "subheading": "Announcements &amp; Releases"
})

<!-- page_content defines the bounds of scrollnav widget -->
<div class="container last-margin">
  <div class="row press-main">
    <div class="eight columns content-block">
    <article class="navigable">
      <h3>2015 Releases</h3>
      <div class="services press">
        <div class="infobox-content action-box">
          <div class="row infobox-bottom">
              <div class="press-left">
                <h4>(PRWEB) AUGUST 06, 2015</h4>
                <p>Fairway America Announces Launch of Latest Client’s $50,000,000 Centerra RE Opportunity Fund LLC, Centerra Lists Fund on Fairway’s Crowdfunding Marketplace, <a href="http://www.sbrefunds.com" class="green">SBREfunds.com</a> </p>
              </div>
              <ul class="press-right">
                <li><span>Continue Reading</span><a href="http://www.prweb.com/releases/2015/08/prweb12891152.htm" class="btn_yellow web-btn">PRweb</a></li>
                <li><span>Download &amp; Print</span><a href="http://www.prweb.com/pdfdownload/12891152.pdf" class="btn_yellow pdf-btn">PDF</a></li>
              </ul>
          </div>
        </div>
      </div>

      <div class="services press">
        <div class="infobox-content action-box">
          <div class="row infobox-bottom">
            <div class="press-left">
              <h4>JULY 21, 2015</h4>
              <p>MODESTO, CA – Centerra Capital, Inc. announced today that Seana Day Hull, Donny Rocha, and Patrick Burda have joined the Centerra Capital team ...</p>
            </div>
            <ul class="press-right">
              <li><span>Download &amp; Print</span><a href="/press/july_21_2015_new_hires.pdf" class="btn_yellow pdf-btn">PDF</a></li>
            </ul>
          </div>
        </div>
      </div>
    </article>
  </div>

    @@include('./partials/_sidebar.html', {
      "fixed": "",
      "title": "TALK TO AN EXPERT",
      "message": "We can help with your next finance or real estate transaction."
    })
  </div>
</div>

@@include('./partials/_footer.html')
