@@include('./partials/_header.html', {"name": "funds"})

@@include('./partials/_banner-inner.html', {
  "icon": "",
  "heading": "Press",
  "subheading": "Announcements &amp; News Releases"
})

<!-- page_content defines the bounds of scrollnav widget -->
<div class="container last-margin">
  <div class="row funds">
    <div class="eight columns content-block navigable">
      <article class="navigable services">

        <h3 class="hidden">2015 News Releases</h4>
        <div class="infobox-content action-box">
          <div class="row infobox-bottom">
              <h4>(PRWEB) AUGUST 06, 2015</h4>
              <p>Fairway America Announces Launch of Latest Client’s $50,000,000 Centerra RE Opportunity Fund LLC, Centerra Lists Fund on Fairway’s Crowdfunding Marketplace, SBREfunds.com</p>
              <a href="http://www.prweb.com/releases/2015/08/prweb12891152.htm">PRweb Button</a>
              <a href="http://www.prweb.com/pdfdownload/12891152.pdf">PDF</a>
          </div>
          <div class="infobox-content">
            <h4>JULY 21, 2015</h4>
            <p>MODESTO, CA – Centerra Capital, Inc. announced today that Seana Day Hull, Donny Rocha, and Patrick Burda have joined the Centerra Capital team.</p>
            <a href="/press/july_21_2015_new_hires.pdf">PDF</a>
          </div>
        </div>
      </article>
    </div>

    @@include('./partials/_sidebar.html', {
      "fixed": "",
      "title": "TALK TO AN EXPERT",
      "message": "We can help with your next finance or real estate transaction."
    })
  </div>
</div>

@@include('./partials/_footer.html')
