@@include('./partials/_header.html', {"name": "real-estate"})

@@include('./partials/_banner-inner.html', {
  "icon": "icon-real-estate",
  "heading": "Real Estate",
  "subheading": "Advisory, Finance &amp; Management."
})

<!-- page_content defines the bounds of scrollnav widget -->
<div class="container">
  <div class="row">
    <div class="eight columns content-block">
      <article class="navigable services">
        <h3>Real Estate Advisory</h3>
        <h5>Centerra Capital helps businesses, investors and developers maximize returns with real estate. We have strong relationships with lenders and offer a comprehensive suite of services, including market research, due diligence, valuations and brokerage. Clients depend on our disciplined processes and regional expertise to surface and execute successful real estate transactions of any type and scope.</h5>

        <h4>ACQUISITIONS</h4>
        <div class="indent">
          <p>Whether you’re considering the acquisition of a single asset or a portfolio of properties, Centerra Capital provides you with dependable investor intelligence, sophisticated deal structuring and access to capital. Our expertise spans all asset types, including residential, agricultural and commercial properties for income or owner-occupation. We can help you identify property or you can feed us listings for consideration.</p>
          <p>Our market intelligence is unmatched in the Central Valley and includes data on transactions, rents, demographics and tax/title/zoning. This data complements our traditional tools of analysis: assessment of physical assets, inspection of title, and review of lease history. We ensure that you enter every potential transaction with a comprehensive understanding of risks, returns and potential outcomes.</p>
          <p>We carefully manage the acquisition lifecycle and apply appropriate due diligence at every stage. Our team ensures that your strategy maximizes value, minimizes costs and optimizes tax implications on both a property and entity basis.</p>
        </div>

        <h4>DISPOSITION</h2>
        <div class="indent">
          <p>Centerra Capital helps you maximize value when selling your assets. We can manage the disposition of individual properties or engineer more complex portfolio sales to institutional clients and private equity firms.</p>
          <p>Our longstanding regional presence enables us to introduce your assets to qualified buyers, and our strong reputation ensures we communicate its value with credibility.</p>
        </div>

        <h4>REPOSITIONING</h4>
        <div class="indent">
          <p>Centerra Capital empowers investors and developers to execute ambitious repositioning projects. We have stewarded many successful programs of varying complexity, from simple office renovations to complex structural modifications that enable new use cases. Our endeavors often generate returns exceeding 100% per year with relatively short holding periods.</p>
          <p>Our role in repositioning programs varies depending on your needs. We can assist with opportunity analysis, strategic planning and project financing.</p>
        </div>

        <h4>Asset Management</h4>
        <div class="indent">
          <p>Owning investment property is a business. And like any business it requires continuous management and periodic course correction. Our strategic asset management service enables investors and owners of income property to relax and let us monitor the asset to maximize its financial performance. Services include:</p>
          <ul class="listing-content">
            <li>Development and execution of a property specific strategic plan, including financing strategies.</li>
            <li>Management of all administrative duties.</li>
            <li>Continuous monitoring of financial performance against projections.</li>
            <li>Preparation of an annual “hold or sell” analysis.</li>
            <li>Execution of acquisition, disposition or re-investment when appropriate.</li>
          </ul>
        </div>
      </article>

      <section class="infobox">
        <header>
          <h2>CASE STUDY</h2>
          <a href="#" class="btn_yellow">VIEW ALL TRANSACTIONS</a>
        </header>

        <div class="infobox-content">
          <h3>1020 Tenth Street</h3>
          <h4><span class="tag">REAL ESTATE TRANSACTION</span> MODESTO, CALIFORNIA</h4>
          <div class="indent">
            <img src="images/placeholder.jpg" alt="" />
            <p>Laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo nascetur ridiculus mus magnis risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
          <div class="row infobox-bottom">
            <div class="one-half column">
              <h5>PROPERTY DETAILS</h5>
              <ul>
                <li>Professional Oﬃce Building</li>
                <li>33,000 SF Class A</li>
                <li>7 Tenants</li>
                <li>95% Occupancy</li>
              </ul>
            </div>
            <div class="one-half column">
              <h5>FINANCIALS</h5>
              <ul>
                <li>$5.3m Development Cost</li>
                <li>$575,185 First Year Revenue</li>
                <li>$4.0m in Finacing at 6.25% (10/15/2002)</li>
                <li>10 Year Term / 25 Year Amortization</li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <article class="navigable services">
        <hr/>
        <h3>Property Services</h3>

        <h4>BROKERAGE</h4>
        <div class="indent">
          <p>Centerra Capital offers brokerage services to our in-house clients. Whether you are a buyer, seller, borrower, investor or user, we work hard to maximize proceeds, minimize taxes and achieve optimal accounting treatments.</p>
        </div>

        <h4>LEASING</h4>
        <div class="indent">
          <p>Placing the right tenants in your property is the easiest way to reduce operating costs and increase the value of your asset. We are strongly networked in our markets, ensuring that your units receive superior exposure with the right businesses and relocation services. Our leasing agents apply a rigorous screening process to ensure lessees are not only qualified, but a good long-term business fit for your property.  </p>
        </div>

        <h4>FACILITIES MANAGEMENT</h4>
        <div class="indent">
          <p>Centerra Capital’s Facilities Management division offers an outsourced solution for the operation of residential, retail and office facilities in the Central Valley. Our team of 13 managers and service-personnel have more than 1,000,000 sq.ft. under active management and handle all aspects of operation, including:</p>
          <ul class="listing-content last-margin">
            <li>Tenant relations and retention.</li>
            <li>Vendor management.</li>
            <li>Property maintenance and improvements.</li>
            <li>Crisis management.</li>
            <li>Public Relations.</li>
          </ul>
        </div>

      </article>
    </div>

    @@include('./partials/_sidebar.html')

  </div>
</div>

@@include('./partials/_footer.html')
