@@include('./partials/_header.html')

@@include('./partials/_banner-inner.html', {
  "icon": "icon-real-estate",
  "heading": "Real Estate",
  "subheading": "LOREM IPSUM POLLOCK CORUM ELLSE CONUT."
})

<!-- page_content defines the bounds of scrollnav widget -->
<div class="container">
  <div class="row">
    <div class="eight columns">
      <article class="navigable services">
        <h3>Real Estate Advisory</h3>
        <h5>Centerra Capital is a full-service real estate brokerage that helps clients accomplish ambitious property transactions. We have strong relationships with lenders and can manage every aspect of your deal, from valuation and due dilligence to negotiation and financing.</h5>

        <h4>Selling Property</h4>
        <div class="indent">
          <p>Now that we’ve covered the basic service offering and scope of work, we can become specific with how Centerra meets the strategic goals of clients with various real estate needs. Lo risus, porta ac consectetur ac, vestibulum at eros.</p>
          <p>Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. </p>
        </div>

        <h4>Buying Property</h2>
        <div class="indent">
          <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          <p class="footnote">Footnote class. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        </div>

        <h4>Developing Property</h4>
        <div class="indent">
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
        </div>

        <h4>Portfolio &amp; Asset Management</h4>
        <div class="indent">
          <p>Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </article>

      <section class="infobox">
        <header>
          <h2>CASE STUDY</h2>
          <a href="#" class="btn_yellow">VIEW ALL TRANSACTIONS</a>
        </header>

        <div class="infobox-content">
          <h3>1020 Tenth Street</h3>
          <h4><span class="tag">REAL ESTATE TRANSACTION</span> MODESTO, CALIFORNIA</h4>
          <div class="indent">
            <img src="images/placeholder.jpg" alt="" />
            <p>Laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo nascetur ridiculus mus magnis risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
          <div class="row infobox-bottom">
            <div class="one-half column">
              <h5>PROPERTY DETAILS</h5>
              <ul>
                <li>Professional Oﬃce Building</li>
                <li>33,000 SF Class A</li>
                <li>7 Tenants</li>
                <li>95% Occupancy</li>
              </ul>
            </div>
            <div class="one-half column">
              <h5>FINANCIALS</h5>
              <ul>
                <li>$5.3m Development Cost</li>
                <li>$575,185 First Year Revenue</li>
                <li>$4.0m in Finacing at 6.25% (10/15/2002)</li>
                <li>10 Year Term / 25 Year Amortization</li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <article class="navigable services">
        <hr/>
        <h3>Property Services</h3>
        <h5>Faucibus dolor auctor. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. </h5>

        <h4>FACILITIES MANAGEMENT</h4>
        <div class="indent">
          <p>Laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        </div>

        <h4>LEASING</h4>
        <div class="indent">
          <p class="last-margin">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        </div>

      </article>
    </div>

    <div class="four columns u-pull-right">
      <div class="sidebar-container">
        <div class="sidebar">

          <nav class="scroll-nav" role="navigation">
            <div class="scroll-nav__wrapper">
              <ol class="scroll-nav__list">
                <li class="scroll-nav__item is-parent-item in-view">
                  <a href="#scrollNav-1" class="scroll-nav__link">Real Estate Advisory</a>
                  <ol class="scroll-nav__sub-list">
                    <li class="scroll-nav__sub-item active in-view">
                      <a href="#scrollNav-1-1" class="scroll-nav__sub-link">Selling Property</a>
                    </li>
                    <li class="scroll-nav__sub-item">
                      <a href="#scrollNav-1-2" class="scroll-nav__sub-link">Buying Property</a>
                    </li>
                    <li class="scroll-nav__sub-item">
                      <a href="#scrollNav-1-3" class="scroll-nav__sub-link">Developing Property</a>
                    </li>
                    <li class="scroll-nav__sub-item">
                      <a href="#scrollNav-1-4" class="scroll-nav__sub-link">Portfolio &amp; Asset Management</a>
                    </li>
                  </ol>
                </li>
              </ol>

              <ol class="scroll-nav__list">
                <li class="scroll-nav__item is-parent-item in-view">
                  <a href="#scrollNav-1" class="scroll-nav__link">Property Services</a>
                  <ol class="scroll-nav__sub-list">
                    <li class="scroll-nav__sub-item in-view">
                      <a href="#scrollNav-1-1" class="scroll-nav__sub-link">Facilities Management</a>
                    </li>
                    <li class="scroll-nav__sub-item">
                      <a href="#scrollNav-1-2" class="scroll-nav__sub-link">Leasing</a>
                    </li>
                  </ol>
                </li>
              </ol>
            </div>
          </nav>

          @@include('./partials/_cta.html')
        </div>
      </div>
    </div>

  </div>
</div>

@@include('./partials/_footer.html')
