@@include('./partials/_header.html', {"name": "real-estate"})

@@include('./partials/_banner-inner.html', {
  "icon": "icon-real-estate",
  "heading": "Real Estate",
  "subheading": "Advisory, Finance &amp; Management."
})

<!-- page_content defines the bounds of scrollnav widget -->
<div class="container">
  <div class="row">
    <div class="eight columns content-block">
      <article class="navigable services">
        <h3>Real Estate Advisory</h3>
        <h5>Centerra Capital helps owners, businesses, investors and developers maximize returns with real estate. We have strong relationships with lenders and offer a comprehensive portfolio of services, including market research, due diligence, valuations and brokerage. Clients depend on our creativity and regional expertise to identify and execute successful real estate transactions of any type and scope.</h5>

        <h4>ACQUISITIONS</h4>
        <div class="indent">
          <p>Whether you’re considering the acquisition of a single asset or a portfolio of properties, Centerra Capital provides you with dependable investor intelligence, sophisticated deal structuring and access to capital. Our expertise spans many asset types, including agricultural, multi-family, hospitality, medical, and commercial properties for income or owner-occupation.</p>
          <p>Our market intelligence includes data on transactions, rents, demographics and tax/title/zoning. This data complements our traditional tools of analysis: assessment of physical assets, inspection of title, review of lease history and detailed financial modeling. We ensure that you enter every potential transaction with a comprehensive understanding of risks, returns and potential outcomes.</p>
          <p>We carefully manage the acquisition lifecycle and apply appropriate due diligence at every stage. Our team ensures that your strategy maximizes value, minimizes costs and optimizes tax considerations on both a property and entity basis.</p>
        </div>

        <h4>DISPOSITION</h4>
        <div class="indent">
          <p>Centerra Capital helps you maximize value when selling your property. Our disposition process is based on detailed financial analysis and comprehensive review of all possible sale strategies. We can manage the disposition of individual properties or engineer more complex portfolio sales to institutional clients and private equity firms.</p>
          <p>Our longstanding regional presence enables us to introduce your assets to qualified buyers, and our strong reputation ensures we communicate its value with credibility.</p>
        </div>

        <h4>REPOSITIONING</h4>
        <div class="indent">
          <p>Centerra Capital empowers investors and developers to execute ambitious repositioning projects. We have stewarded many successful programs of varying complexity, from simple office renovations to complex structural modifications that enable new use cases. Our endeavors often generate high returns with relatively short holding periods.</p>
          <p>Our role in the repositioning process varies depending on your needs. We can assist with opportunity analysis, strategic planning and project financing.</p>
        </div>
      </article>

      <article class="navigable services">
        <hr/>
        <h3>Property Services</h3>

        <h4>BROKERAGE</h4>
        <div class="indent">
          <p>Centerra Capital offers brokerage services to our clients. Whether you are a buyer, seller, borrower, investor or user, we work hard to maximize proceeds and achieve optimal tax efficiency and accounting treatments. </p>
        </div>

        <h4>LEASING</h4>
        <div class="indent">
          <p>Placing the right tenants in your property is the easiest way to reduce operating costs and increase the value of your asset. We are strongly networked in our markets, ensuring that your property receives superior exposure with the right businesses and relocation services. Our leasing agents apply a rigorous screening process to ensure lessees are not only qualified, but a good long-term business fit for your property.</p>
        </div>

        <h4>ASSET &amp; PROPERTY MANAGEMENT</h4>
        <div class="indent">
          <p>Owning investment property is a business. Like any business, it requires continuous management and periodic course correction. Our strategic asset management service enables investors and owners to streamline operations and maximize the performance of their assets. Services include:</p>
          <ul class="listing-content">
            <li>Development and execution of a property specific strategic plan, including financing strategies.</li>
            <li>Management of all administrative duties.</li>
            <li>Continuous monitoring of financial performance against projections.</li>
            <li>Preparation of an annual “hold or sell” analysis.</li>
            <li>Execution of acquisition, disposition or re-investment when appropriate.</li>
            <li>Tenant relations and retention.</li>
          </ul>
          <p>In addition to strategic management, Centerra Capital’s Facilities Management team offers an outsourced solution for the operation of multi-family residential, retail, industrial and office facilities in the Central Valley. Our team of managers and service-personnel have more than 1,000,000 sq.ft. under active management and handle all aspects of operation, including:</p>
          <ul class="listing-content last-margin">
            <li>Vendor management.</li>
            <li>Property maintenance and improvements.</li>
            <li>Security management.</li>
          </ul>
        </div>
        <br><br><br>
      </article>
    </div>

    @@include('./partials/_sidebar.html', {
      "fixed": "",
      "title": "LET’S TALK PROPERTY",
      "message": "Tell us about your real estate situation. We might be able to help."
    })

  </div>
</div>

@@include('./partials/_footer.html')
