@@include('./partials/_header.html')

@@include('./partials/_banner-inner.html', {
  "icon": "",
  "heading": "Transactions",
  "subheading": "LOREM IPSUM POLLOCK CORUM."
})

<!-- page_content defines the bounds of scrollnav widget -->
<div class="container last-margin">
  <div class="row">
    <div class="eight columns">

    </div>

    <div class="four columns u-pull-right">
      <div class="sidebar-container">
        <div class="sidebar">

          <nav class="scroll-nav" role="navigation">
            <div class="scroll-nav__wrapper">
              <ol class="scroll-nav__list">
                <li class="scroll-nav__item is-parent-item in-view">
                  <a href="#scrollNav-1" class="scroll-nav__link">1020 TENTH STREET</a>
                </li>
                <li class="scroll-nav__item is-parent-item in-view">
                  <a href="#scrollNav-1" class="scroll-nav__link">SOME COMPANY NAME</a>
                </li>
                <li class="scroll-nav__item is-parent-item in-view">
                  <a href="#scrollNav-1" class="scroll-nav__link">SMALLER COMPANY</a>
                </li>
                <li class="scroll-nav__item is-parent-item in-view">
                  <a href="#scrollNav-1" class="scroll-nav__link">PRIMETIME EXPRESS CARWASH</a>
                </li>
              </ol>
            </div>
          </nav>

          @@include('./partials/_cta.html')
        </div>
      </div>
    </div>

  </div>
</div>

@@include('./partials/_footer.html')
