@@include('./partials/_header.html')

@@include('./partials/_banner-inner.html', {
  "icon": "",
  "heading": "Transactions",
  "subheading": "LOREM IPSUM POLLOCK CORUM."
})

<!-- page_content defines the bounds of scrollnav widget -->
<div class="container last-margin">
  <div class="row">
    <div class="eight columns">
        <div class="infobox-content">
          <h3>1020 Tenth Street</h3>
          <h4><span class="tag">REAL ESTATE TRANSACTION</span> MODESTO, CALIFORNIA</h4>
          <div class="indent">
            <img src="images/placeholder.jpg" alt="" />
            <p>Laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo nascetur ridiculus mus magnis risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
          <div class="row infobox-bottom">
            <div class="one-half column">
              <h5>PROPERTY DETAILS</h5>
              <ul>
                <li>Professional Oﬃce Building</li>
                <li>33,000 SF Class A</li>
                <li>7 Tenants</li>
                <li>95% Occupancy</li>
              </ul>
            </div>
            <div class="one-half column">
              <h5>FINANCIALS</h5>
              <ul>
                <li>$5.3m Development Cost</li>
                <li>$575,185 First Year Revenue</li>
                <li>$4.0m in Finacing at 6.25% (10/15/2002)</li>
                <li>10 Year Term / 25 Year Amortization</li>
              </ul>
            </div>
          </div>
          <hr/>
        </div>


        <div class="infobox-content">
          <h3>Some Company Name</h3>
          <h4><span class="tag">ADVISORY REFERENCE</span> JOHN DOE, CFO</h4>
          <div class="indent">
            <img src="images/placeholder.jpg" alt="" />
            <p>Laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Integer posuere erat a ante seren venenatis dapibus posuere velit aliquet natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo nascetur ridiculus mus magnis Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus nurna mollis ornare vel eu leo.</p>
          </div>
        </div>

    </div>

    <div class="four columns u-pull-right">
      <div class="sidebar-container">
        <div class="sidebar">

          <nav class="scroll-nav" role="navigation">
            <div class="scroll-nav__wrapper">
              <ol class="scroll-nav__list">
                <li class="scroll-nav__item is-parent-item in-view">
                  <a href="#scrollNav-1" class="scroll-nav__link">1020 TENTH STREET</a>
                </li>
                <li class="scroll-nav__item is-parent-item in-view">
                  <a href="#scrollNav-1" class="scroll-nav__link">SOME COMPANY NAME</a>
                </li>
                <li class="scroll-nav__item is-parent-item in-view">
                  <a href="#scrollNav-1" class="scroll-nav__link">SMALLER COMPANY</a>
                </li>
                <li class="scroll-nav__item is-parent-item in-view">
                  <a href="#scrollNav-1" class="scroll-nav__link">PRIMETIME EXPRESS CARWASH</a>
                </li>
              </ol>
            </div>
          </nav>

          @@include('./partials/_cta.html')
        </div>
      </div>
    </div>

  </div>
</div>

@@include('./partials/_footer.html')
