@@include('./partials/_header.html', {"name": "about"})

@@include('./partials/_banner-inner.html', {
  "icon": "",
  "heading": "Transactions",
  "subheading": "PROVEN TRACKRECORD OF PERFORMANCE."
})

<!-- page_content defines the bounds of scrollnav widget -->
<div class="container last-margin">
  <div class="row">
    <div class="eight columns transactions content-block">
      <div class="row">
        <div class="six columns">
          @@include('./partials/transactions/_transaction_1524.html')
        </div>
        <div class="six columns">
          @@include('./partials/transactions/_transaction_rim.html')
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          @@include('./partials/transactions/_transaction_333.html')
        </div>
        <div class="six columns">
          @@include('./partials/transactions/_transaction_4701.html')
        </div>
      </div>

    </div>

    @@include('./partials/_sidebar.html', {
      "fixed": "true",
      "title": "TALK TO AN EXPERT",
      "message": "We can help with your next finance or real estate transaction. Free consultation."
    })

  </div>
</div>

@@include('./partials/_footer.html')
