<footer>
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <h2 class="footer-heading">CENTERRA CAPITAL</h2>
        <div class="row">
        <ul class="six columns">
          <li><a href="#">REAL ESTATE</a></li>
          <li><a href="#">CORPORATE FINANCE</a></li>
          <li><a href="#">INVESTMENTS</a></li>
          <li><a href="#">AGRICULTURE</a></li>
          <li><a href="#">LEADERSHIP</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>

        <div class="six columns vcard">
          <address>
            <span class="icon-location"></span>
            <span class="street-address">123 MAIN STREET</span>
            <span class="country-name">MODESTO, CA 95354</span>
          </address>
          <a href="tel:8008381488" class="footer-tel"><span class="icon-phone"></span>(800) 838-1488</a>
          <a href="mailto:info&#64;centerracapital.com" class="footer-email"><span class="icon-envelop"></span>INFO&#64;CENTERRACAPITAL.COM</a>
        </div>
      </div>
      </div>
      <div class="one-half column">
        <h2 class="footer-heading">TRUSTED IN THE CENTRAL VALLEY </h2>
      </div>
    </div>
  </div>
</footer>
