<nav class="nav-primary">
  <ul>
    <li><a href="#">Corporate Advisory</a></li>
    <li><a href="#">Real Estate</a></li>
    <li><a href="#">Investments</a></li>
    <li><a href="#">Agriculture</a></li>
    <li><a href="#">About</a>
      <ul>
          <li><a href="#">Leadership</a></li>
          <li><a href="#">Transactions</a></li>
          <li><a href="#">Contact</a></li>
      </ul>
    </li>
  </ul>
</nav>