<header>
  <div class="container">
    <div class="nav-container row">
      <div class="two columns">
        <h2>LOGO</h2>
      </div>
      <div class="eight columns u-pull-right u-max-full-width">
        <div class="menu-button">Menu</div>
        <nav>
          <ul data-breakpoint="800" class="flexnav">
            <li><a href="#">Corporate Advisory</a></li>
            <li><a href="#">Real Estate</a></li>
            <li><a href="#">Investments</a></li>
            <li><a href="#">Agriculture</a></li>
            <li><a href="#">About</a>
              <ul>
                  <li><a href="#">Leadership</a></li>
                  <li><a href="#">Transactions</a></li>
                  <li><a href="#">Contact</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
