<div class="block financial">
  <div class="title-box">
      <time>September 2010</time>
      <h2>Delta Sierra Beverage <small>BUSINESS MERGER</small>$30 Million</h2>
  </div>
  <div class="infobox-content">
    <h4><span class="tag">FINANCIAL</span> ADVISED BY CENTERRA CAPITAL</h4>
    <div class="indent">
      <p>Centerra Capital was engaged by Delta Sierra Beverage to secure financing and an interest rate swap in order to facilitate a merger with an Anheuser-Busch owned distributorship in Stockton.</p>
    </div>
    <hr>
  </div>
</div>
