<div class="infobox-content">
  <h3>4712 Stoddard Road</h3>
  <h4><span class="tag">REAL ESTATE</span> MODESTO, CALIFORNIA</h4>
  <div class="indent">
    <img src="images/placeholder.jpg" alt="" />
    <p>Centerra Capital sponsored the purchase of this 2.5m property by an investor group and oversaw its complete remodel. The single level concrete tilt-up facility was transformed into a premier two-story multi-unit development which is presently appraised at $10.2m.<br><br></p>
  </div>
  <div class="row infobox-bottom">
    <div class="one-half column">
      <h5>PROPERTY DETAILS</h5>
      <ul>
        <li>Professional Office Building</li>
        <li>60,000 sf of Class A/B space</li>
      </ul>
    </div>
    <div class="one-half column">
      <h5>FINANCIALS</h5>
      <ul>
        <li>Purchase Price: $2.5m</li>
        <li>Renovation Costs: $3.9m</li>
        <li>Appraised Value: $10.2m </li>
      </ul>
    </div>
  </div>
  <hr/>
</div>
