<div class="block real-estate">
<div class="infobox-content">
  <h3>4701 Stoddard Road</h3>
  <h4><span class="tag">REAL ESTATE</span> MODESTO, CALIFORNIA</h4>
  <div class="indent">
    <img src="images/placeholder.jpg" alt="" />
    <p>Centerra helped its client acquire, reposition and sell this asset. Value was created in this property when a national credit tenant, American Medical Response, Inc., signed a 12 year lease requiring $10.6m worth of tenant improvements.<br><br></p>
  </div>
  <div class="row infobox-bottom">
    <div class="one-half column">
      <h5>PROPERTY DETAILS</h5>
      <ul>
        <li>Professional Office Building</li>
        <li>100,652 sf of Class A/B space</li>
        <li>1 National Tenant: American Medical Response</li>
      </ul>
    </div>
    <div class="one-half column">
      <h5>FINANCIALS</h5>
      <ul>
        <li>Purchase Price (2004): $4.2m</li>
        <li>Financing: $12.0m @ 5.89% / 20 year term</li>
        <li>Sale Price (2006): $28.3m</li>
      </ul>
    </div>
  </div>
  <hr/>
</div>
</div>
