<div class="infobox-content">
  <h3>1020 Tenth Street</h3>
  <h4><span class="tag">REAL ESTATE</span> MODESTO, CALIFORNIA</h4>
  <div class="indent">
    <img src="images/placeholder.jpg" alt="" />
    <p>Laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo nascetur ridiculus mus magnis risus, porta ac consectetur ac, vestibulum at eros.</p>
  </div>
  <div class="row infobox-bottom">
    <div class="one-half column">
      <h5>PROPERTY DETAILS</h5>
      <ul>
        <li>Professional Oﬃce Building</li>
        <li>33,000 SF Class A</li>
        <li>7 Tenants</li>
        <li>95% Occupancy</li>
      </ul>
    </div>
    <div class="one-half column">
      <h5>FINANCIALS</h5>
      <ul>
        <li>$5.3m Development Cost</li>
        <li>$575,185 First Year Revenue</li>
        <li>$4.0m in Finacing at 6.25% (10/15/2002)</li>
        <li>10 Year Term / 25 Year Amortization</li>
      </ul>
    </div>
  </div>
  <hr/>
</div>
