<div class="infobox-content">
  <h3>333 North Canyons Parkway</h3>
  <h4><span class="tag">REAL ESTATE</span> LIVERMORE, CA</h4>
  <div class="indent">
    <img src="images/placeholder.jpg" alt="" />
    <p>Centerra Capital acquired this property on behalf of an investor group in 2006 to realize monthly cash returns and longer-term asset appreciation. We managed the asset to reduce our clients operational responsibilities. In late-2007, we saw an opportunity to market and sell the property, and completed a transaction that realized a $1.2m profit over a 21 month holding period.</p>
  </div>
  <div class="row infobox-bottom">
    <div class="one-half column">
      <h5>PROPERTY DETAILS</h5>
      <ul>
        <li>Professional Office Building</li>
        <li>48,842 sf of Class A</li>
        <li>Asset management by Centerra Capital</li>
      </ul>
    </div>
    <div class="one-half column">
      <h5>FINANCIALS</h5>
      <ul>
        <li>Purchase Price (April, 2006): $8.8m</li>
        <li>Financing: $5m</li>
        <li>Sale Price (March, 2008): $10m </li>
      </ul>
    </div>
  </div>
  <hr/>
</div>
