<div class="block financial">
  <div class="title-box">
      <time>FEBRUARY 2005</time>
      <h2>Rim Hotel Group<small>SOLD FOR</small>$93.5 Million</h2>
  </div>
  <div class="infobox-content">
    <h4><span class="tag">FINANCIAL</span> ADVISED BY CENTERRA CAPITAL</h4>
    <div class="indent">
      <p>Centerra Capital assisted an investor group in the purchase, repositioning and sale of Rim Hotel Group, a regional hotel chain with 862 rooms across 11 properties.</p>
    </div>
    <hr>
  </div>
</div>
