<div class="infobox-content">
  <h4><span class="tag">FINANCIAL TRANSACTION</span> SECURED BY CENTERRA CAPITAL</h4>
  <div class="indent">
    <p>Centerra Capital was engaged by Prime Shine Express to re-capitalize the company’s Balance Sheet.</p>
    <p>In December of 2007, Prime Shine closed on a financing package that successfully replaced their existing, short-term, permanent financing with long term, low interest loan. This financing also included a credit line for future expansion. Despite the increase in the amount borrowed, Centerra was able to negotiate a rate and terms that made the monthly payment lower than it had been with the previous financing package.</p>
  </div>
  <div class="row infobox-bottom">
    <div class="one-half column">
      <h5>CLIENT OBJECTIVES</h5>
      <ul>
        <li>Nullam quis risus eget urna</li>
        <li>Quis risus eget urna mollis</li>
        <li>Fipsum dolor sit ame consectetur </li>
      </ul>
    </div>
    <div class="one-half column">
      <h5>FINANCIAL OUTCOME</h5>
      <ul>
        <li>$4.0m Cras justo odio</li>
        <li>Dapibus ac facilisis in, egestas eget quam heroname.</li>
      </ul>
    </div>
  </div>
</div>
