---
title: Capital & Real Estate Solutions for the Central Valley
---

<div class="container">
  <div class="row">
    <div class="one-half column service-block">
      <div class="head">
        <span class="icon-box icon-corporate"></span>
        <div class="head-inner">
          <h2 class="heading">Corporate Advisory</h2>
          <h3 class="subheading">CREATIVE SOLUTIONS TO COMPLEX  BUSINESS CHALLENGES.</h3>
        </div>
      </div>
      <p>Centerra can assist with your expansion, refinancing, acquisition or divestment. We maintain the deepest network of capital providers in the Central Valley. <a href="#" class="btn_yellow">Learn More</a></p>
    </div>
    <div class="one-half column service-block">
      <div class="head">
        <span class="icon-box icon-real-estate"></span>
        <div class="head-inner">
          <h2 class="heading">Real Estate</h2>
          <h3 class="subheading">ACCOMPLISH AMBITIOUS TRANSACTIONS.</h3>
        </div>
      </div>
      <p>Centerra Capital provides comprehensive real estate advisory services to Central Valley businesses, including brokerage, capital formation and asset management.</p>
    </div>
  </div>
  <div class="row">
    <div class="one-half column service-block">
      <div class="head">
        <span class="icon-box icon-investment-04"></span>
        <div class="head-inner">
          <h2 class="heading">Funds</h2>
          <h3 class="subheading">LOREM IPSUM COLOR MINUT SED AENOUS.</h3>
      </div>
      </div>
      <p>Centerra helps institutions and high net-worth individuals invest successfully in real estate. We can manage your portfolio or you can invest in one of our successful real estate funds.</p>
    </div>
    <div class="one-half column service-block">
      <div class="head">
        <span class="icon-box icon-agriculture"></span>
        <div class="head-inner">
          <h2 class="heading">Agriculture</h2>
          <h3 class="subheading">CAPITAL SOLUTIONS FOR CENTRAL VALLEY PRODUCERS.</h3>
        </div>
      </div>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. </p>
    </div>
  </div>
</div>
